<form method="post" action="{{ path('typesuivi_delete', {'id': typesuivi.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typesuivi.id) }}">
    <button class="btn">Delete</button>
</form>
