{% extends 'base.html.twig' %}

{% block title %}Edit Typesuivi{% endblock %}

{% block body %}
    <h1>Edit Typesuivi</h1>

    {{ include('typesuivi/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('typesuivi_index') }}">back to list</a>

    {{ include('typesuivi/_delete_form.html.twig') }}
{% endblock %}
