{% extends 'base.html.twig' %}

{% block title %}Typesuivi index{% endblock %}

{% block body %}
    <h1>Typesuivi index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Intitule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typesuivi in typesuivis %}
            <tr>
                <td>{{ typesuivi.id }}</td>
                <td>{{ typesuivi.code }}</td>
                <td>{{ typesuivi.intitule }}</td>
                <td>
                    <a href="{{ path('typesuivi_show', {'id': typesuivi.id}) }}">show</a>
                    <a href="{{ path('typesuivi_edit', {'id': typesuivi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('typesuivi_new') }}">Create new</a>
{% endblock %}
