{% extends 'base.html.twig' %}

{% block title %}New Typesuivi{% endblock %}

{% block body %}
    <h1>Create new Typesuivi</h1>

    {{ include('typesuivi/_form.html.twig') }}

    <a href="{{ path('typesuivi_index') }}">back to list</a>
{% endblock %}
