{% extends 'base.html.twig' %}

{% block title %}Typesuivi{% endblock %}

{% block body %}
    <h1>Typesuivi</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typesuivi.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ typesuivi.code }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ typesuivi.intitule }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('typesuivi_index') }}">back to list</a>

    <a href="{{ path('typesuivi_edit', {'id': typesuivi.id}) }}">edit</a>

    {{ include('typesuivi/_delete_form.html.twig') }}
{% endblock %}
