{% extends 'base.html.twig' %}

{% block title %}Edit Tampon{% endblock %}

{% block body %}
    <h1>Edit Tampon</h1>

    {{ include('tampon/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tampon_index') }}">back to list</a>

    {{ include('tampon/_delete_form.html.twig') }}
{% endblock %}
