{% extends 'base.html.twig' %}

{% block title %}Tampon index{% endblock %}

{% block body %}
    <h1>Tampon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nlot</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tampon in tampons %}
            <tr>
                <td>{{ tampon.id }}</td>
                <td>{{ tampon.nlot }}</td>
                <td>{{ tampon.quantite }}</td>
                <td>
                    <a href="{{ path('tampon_show', {'id': tampon.id}) }}">show</a>
                    <a href="{{ path('tampon_edit', {'id': tampon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tampon_new') }}">Create new</a>
{% endblock %}
