{% extends 'base.html.twig' %}

{% block title %}New Tampon{% endblock %}

{% block body %}
    <h1>Create new Tampon</h1>

    {{ include('tampon/_form.html.twig') }}

    <a href="{{ path('tampon_index') }}">back to list</a>
{% endblock %}
