{% extends 'base.html.twig' %}

{% block title %}Tampon{% endblock %}

{% block body %}
    <h1>Tampon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tampon.id }}</td>
            </tr>
            <tr>
                <th>Nlot</th>
                <td>{{ tampon.nlot }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ tampon.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tampon_index') }}">back to list</a>

    <a href="{{ path('tampon_edit', {'id': tampon.id}) }}">edit</a>

    {{ include('tampon/_delete_form.html.twig') }}
{% endblock %}
