{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-5 ">

	<div class="alert alert-custom alert-white alert-shadow fade show gutter-b " role="alert">
		<div class="alert-text">
			<h5 class="text-dark font-weight-bold my-1 mr-5">
				<i class="fa fa-list"></i>
				Détail facture
			</h5>
		</div>
		<div class="float-right">
			<span>
				<b class="text-danger"></b>
			</span>
		</div>
	</div>
	

	<div class="card card-custom">
		<div class="card-body">
			<!--begin: Datatable-->
			<form action="{{ path('detailfacture',{'id': facture.id}) }}" method="POST" class=" my-5"
				autocomplete="off">
				<div class="form-row ">
					<div class="col-md-3">
						<div class="input-group input-group-sm">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<a href="#" data-toggle="modal" data-target="#produit">
										<i class="fa fa-list" aria-hidden="true"></i>
									</a>
								</span>
							</div>
							<input type="text" class="form-control  form-control-sm" name="article" placeholder="Article"
								id="article" readonly required>
						</div>
					</div>
					<div class="col-md-3 form-group">
						<select name="depot" id="depot" class="form-control form-control-sm" required>
							<option value="">Veuillez choisir un dépot</option>
						
							{% for depot in depots %}
							<option value="{{depot.id}}" {{depot.isPrincipal == true ? 'selected id="default"' : ''}} >{{depot.intitule}}</option>
							{% endfor %}
						</select>
					</div>

					<div class="col-md-2 form-group">
						<input type="number" name="prix" id="prix" class="form-control form-control-sm" placeholder="prix" required>
					</div>



					<div class="col-md-2 form-group">
						<input type="number" name="quantite" id="quantite" min="1" class="form-control form-control-sm"
							placeholder="Quantité" required>
					</div>

					<input type="text" id="client" value="{{facture.clients.code}}" style="display:none">

					<div class="form-group" id="boutondetail">
						<button class="btn btn-sm btn-primary ml-3" name="valider2" type="submit">Valider</button>
					</div>
				</div>
			</form>

			<table class="table table-striped  table-checkable mt-5 mb-5" style="margin-top: 13px !important">
				<thead class="thead-primary">
					<tr>
						<th class="w-45">Article</th>
						<th class="text-center">Qté</th>
						<th class="text-center">Prix ht</th>
						<th class="text-center">Prix ttc</th>
						<th class="text-center">Total</th>
						<th class="float-right">Action</th>
					</tr>
				</thead>
				<tbody>
					{% set totalaib1 = 0 %}
					{% set totalaib2 = 0 %}
					{% set total = 0 %}
					{% set totalmontantht = 0 %}
					{% set totalht1 = 0 %}
					{% for tamponligne in tamponlignes %}
						{% set total = total + tamponligne.montant %}
						{% set totalht1 = totalht1 + tamponligne.totalht %}
						{% set totalmontantht = totalmontantht + tamponligne.montantht %}
						{% set totalaib1 = totalaib1 + tamponligne.totalaib1 %}
						{% set totalaib2 = totalaib2 + tamponligne.totalaib2 %}
						
						<tr>
							<td class="w-45">
								{{tamponligne.articles.designation}}
							</td>
							<td class="text-center">{{tamponligne.quantite}}</td>
							<td class="text-center">{{ tamponligne.prixht |round(2, 'floor')}}</td>
							<td class="text-center">{{tamponligne.prixunitaire}}</td>
							<td class="text-center">{{tamponligne.montant}}</td>
							<td class="float-right">
								<a href="{{path('deldetail',{'id':tamponligne.id})}}">
									<i class="fa fa-trash text-danger"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
				{% if tamponlignes | length > 0 %}
					<tr>
						<th colspan="4">TOTAL HT</th>
						<td class="text-center">
							{{totalmontantht|round(2, 'floor')}}
						</td>
					</tr>
					<tr>
						<th colspan="4">TVA</th>
						<td class="text-center">{{ totalht1|round(2, 'floor')}}</td>
					</tr>
					<tr>
						<th colspan="4">AIB 1%</th>
						<td class="text-center">{{ totalaib1|round(2, 'floor')}}</td>
					</tr>
					<tr>
						<th colspan="4">AIB 5 %</th>
						<td class="text-center">{{ totalaib2|round(2, 'floor')}}</td>
					</tr>
					<tr>
						<th colspan="4">TOTAL TTC</th>
						<td class="text-center">
							{{total}}
						</td>
					</tr>
					
					<tr>
						<th colspan="4">Remise</th>
						<td class="text-center">
							<form action="{{ path('detailfacture',{'id': facture.id}) }}" method="post">
								<input type="number" min="0" name="remise" max="100" value="{{remise}}">
								<div style="display:none;">
									<button type="submit" name="valremise">valider</button>
								</div>
							</form>
						</td>
					</tr>
					<tr>
						<th colspan="4">Net à payer</th>
						<td class="text-center">
							{% if remise == 0 %}
							{{total }}
							{% else %}
							{{total - ( total * (remise / 100))}}
							{% endif %}
						</td>
					</tr>
					{% endif %}
				</tfoot>
			</table>
			{% if tamponlignes | length > 0 %}
				<a href="{{ path('validatefacture') }}" class="btn btn-sm btn-outline-success float-right mt-5">
					Enregistrer
				</a>
				<a href="{{ path('delfact',{'id': facture.id}) }}" class="btn btn-sm btn-outline-danger float-right mt-5 mr-2">Annuler</a>
			{% else %}
				<a href="{{ path('delfact',{'id': facture.id}) }}"
					class="btn btn-sm btn-outline-danger float-right mt-5 mr-2">Annuler</a>
			{% endif %}

			<div class="modal fade bd-example-modal-lg show" tabindex="-1" role="dialog"
				aria-labelledby="myLargeModalLabel" aria-modal="true" id="produit">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Liste des Articles</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<table class="table table-striped  table-checkable" id="kt_datatable">
								<thead>
									<tr>
										<th>Réference</th>
										<th>Désignation</th>
										<th>prixventettc</th>
									</tr>
								</thead>
								<tbody>
									{% for article in articles %}
									<tr>
										<td>
											<a href="#" class="text-decoration-none" id="choice2" data-dismiss="modal"
												data-code="{{ article.reference }}">{{  article.reference }}</a>
										</td>

										<td>{{article.designation}}
										</td>
										<td>{{article.prixventettc}}
										</td>

									</tr>
									{% endfor %}

								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn  btn-secondary" data-dismiss="modal">Fermer</button>
							<button type="button" class="btn btn-primary">Enregistrer</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% block javascripts %}
		<script>
			
		</script>
	{% endblock javascripts %}

{% endblock  %}