{% extends 'base.html.twig' %}

{% block title %}Stock
{% endblock %}

{% block body %}
	<div class="container mt-5 ">

		<div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
			<div class="alert-text">
				<h5 class="text-dark font-weight-bold my-1 mr-5">
					<i class="fa fa-list"></i>
					Détail des règlements de la facture {{fact}} du client {{client}}.</h5>
			</div>


		</div>

		<div class="card card-custom">

			<div
				class="card-body">
				<!--begin: Datatable-->
			
					<table class="table table-striped  table-checkable mt-5" id="kt_datatable" style="margin-top: 13px !important">
						<thead class="thead-primary">
							<tr>

								<th class="w-75">Date de règlement</th>
								<th class="w-25">Montant</th>

							</tr>
						</thead>
						<tbody>
                            {% for detail in details %} 
								<tr>
									<td class="w-75">
										{{detail.createdAt | date("d-m-Y")}}</td>
									<td class="w-25">{{detail.montant}}</td>
								</tr>
                            {% endfor %}

					
						</tbody>
					</table>
				

				<!--end: Datatable-->
			</div>
		</div>


	</div>
{% endblock %}
