{% extends 'base.html.twig' %}

{% block body %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Entry-->
	<div class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class="container">
			<div class="row mt-5">

				<div class="col-md-4">

					<a href="#" class="card card-custom bg-success bg-hover-state-success card-shadowless gutter-b">
						<!--begin::Body-->
						<div class="card-body">
							<span class="svg-icon svg-icon-white svg-icon-3x ml-n1">
								<!--begin::Svg Icon | path:/metronic/theme/html/demo10/dist/assets/media/svg/icons/Shopping/Cart3.svg-->
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
									width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<rect x="0" y="0" width="24" height="24" />
										<path
											d="M12,4.56204994 L7.76822128,9.6401844 C7.4146572,10.0644613 6.7840925,10.1217854 6.3598156,9.76822128 C5.9355387,9.4146572 5.87821464,8.7840925 6.23177872,8.3598156 L11.2317787,2.3598156 C11.6315738,1.88006147 12.3684262,1.88006147 12.7682213,2.3598156 L17.7682213,8.3598156 C18.1217854,8.7840925 18.0644613,9.4146572 17.6401844,9.76822128 C17.2159075,10.1217854 16.5853428,10.0644613 16.2317787,9.6401844 L12,4.56204994 Z"
											fill="#000000" fill-rule="nonzero" opacity="0.3" />
										<path
											d="M3.5,9 L20.5,9 C21.0522847,9 21.5,9.44771525 21.5,10 C21.5,10.132026 21.4738562,10.2627452 21.4230769,10.3846154 L17.7692308,19.1538462 C17.3034221,20.271787 16.2111026,21 15,21 L9,21 C7.78889745,21 6.6965779,20.271787 6.23076923,19.1538462 L2.57692308,10.3846154 C2.36450587,9.87481408 2.60558331,9.28934029 3.11538462,9.07692308 C3.23725479,9.02614384 3.36797398,9 3.5,9 Z M12,17 C13.1045695,17 14,16.1045695 14,15 C14,13.8954305 13.1045695,13 12,13 C10.8954305,13 10,13.8954305 10,15 C10,16.1045695 10.8954305,17 12,17 Z"
											fill="#000000" />
									</g>
								</svg>
								<!--end::Svg Icon-->
							</span>
							<div class="text-inverse-danger font-weight-bolder font-size-h5 mb-2 mt-5">
								Ventes
							</div>
							<div class="font-weight-bold text-inverse-danger font-size-sm">
								
							</div>
						</div>
						<!--end::Body-->
					</a>
				</div>
				<div class="col-md-4">

					<a href="{{path('depotchoice')}}" class="card card-custom bg-info bg-hover-state-info card-shadowless gutter-b">
						<!--begin::Body-->
						<div class="card-body">
							<span class="svg-icon svg-icon-white svg-icon-3x ml-n1">
								<!--begin::Svg Icon | path:/metronic/theme/html/demo10/dist/assets/media/svg/icons/Shopping/Cart3.svg-->
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
									width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<rect x="0" y="0" width="24" height="24" />
										<path
											d="M12,4.56204994 L7.76822128,9.6401844 C7.4146572,10.0644613 6.7840925,10.1217854 6.3598156,9.76822128 C5.9355387,9.4146572 5.87821464,8.7840925 6.23177872,8.3598156 L11.2317787,2.3598156 C11.6315738,1.88006147 12.3684262,1.88006147 12.7682213,2.3598156 L17.7682213,8.3598156 C18.1217854,8.7840925 18.0644613,9.4146572 17.6401844,9.76822128 C17.2159075,10.1217854 16.5853428,10.0644613 16.2317787,9.6401844 L12,4.56204994 Z"
											fill="#000000" fill-rule="nonzero" opacity="0.3" />
										<path
											d="M3.5,9 L20.5,9 C21.0522847,9 21.5,9.44771525 21.5,10 C21.5,10.132026 21.4738562,10.2627452 21.4230769,10.3846154 L17.7692308,19.1538462 C17.3034221,20.271787 16.2111026,21 15,21 L9,21 C7.78889745,21 6.6965779,20.271787 6.23076923,19.1538462 L2.57692308,10.3846154 C2.36450587,9.87481408 2.60558331,9.28934029 3.11538462,9.07692308 C3.23725479,9.02614384 3.36797398,9 3.5,9 Z M12,17 C13.1045695,17 14,16.1045695 14,15 C14,13.8954305 13.1045695,13 12,13 C10.8954305,13 10,13.8954305 10,15 C10,16.1045695 10.8954305,17 12,17 Z"
											fill="#000000" />
									</g>
								</svg>
								<!--end::Svg Icon-->
							</span>
							<div class="text-inverse-danger font-weight-bolder font-size-h5 mb-2 mt-5">
								Stock
							</div>
							<div class="font-weight-bold text-inverse-danger font-size-sm">
								
							</div>
						</div>
						<!--end::Body-->
					</a>
				</div>
				<div class="col-md-4">

					<a href="{{ path('reglement') }}"
						class="card card-custom bg-danger bg-hover-state-danger card-shadowless gutter-b">
						<!--begin::Body-->
						<div class="card-body">
							<span class="svg-icon svg-icon-white svg-icon-3x ml-n1">
								<!--begin::Svg Icon | path:/metronic/theme/html/demo10/dist/assets/media/svg/icons/Shopping/Cart3.svg-->
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
									width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<rect x="0" y="0" width="24" height="24" />
										<path
											d="M12,4.56204994 L7.76822128,9.6401844 C7.4146572,10.0644613 6.7840925,10.1217854 6.3598156,9.76822128 C5.9355387,9.4146572 5.87821464,8.7840925 6.23177872,8.3598156 L11.2317787,2.3598156 C11.6315738,1.88006147 12.3684262,1.88006147 12.7682213,2.3598156 L17.7682213,8.3598156 C18.1217854,8.7840925 18.0644613,9.4146572 17.6401844,9.76822128 C17.2159075,10.1217854 16.5853428,10.0644613 16.2317787,9.6401844 L12,4.56204994 Z"
											fill="#000000" fill-rule="nonzero" opacity="0.3" />
										<path
											d="M3.5,9 L20.5,9 C21.0522847,9 21.5,9.44771525 21.5,10 C21.5,10.132026 21.4738562,10.2627452 21.4230769,10.3846154 L17.7692308,19.1538462 C17.3034221,20.271787 16.2111026,21 15,21 L9,21 C7.78889745,21 6.6965779,20.271787 6.23076923,19.1538462 L2.57692308,10.3846154 C2.36450587,9.87481408 2.60558331,9.28934029 3.11538462,9.07692308 C3.23725479,9.02614384 3.36797398,9 3.5,9 Z M12,17 C13.1045695,17 14,16.1045695 14,15 C14,13.8954305 13.1045695,13 12,13 C10.8954305,13 10,13.8954305 10,15 C10,16.1045695 10.8954305,17 12,17 Z"
											fill="#000000" />
									</g>
								</svg>
								<!--end::Svg Icon-->
							</span>
							<div class="text-inverse-danger font-weight-bolder font-size-h5 mb-2 mt-5">
								Règlements
							</div>
							<div class="font-weight-bold text-inverse-danger font-size-sm">
							
							</div>
						</div>
						<!--end::Body-->
					</a>
				</div>


			</div>

			<div class="row  mt-10 justify-content-center">
				<div class="col-xl-10 ">
					<div class="card-stretch gutter-b">
						<!--begin::Stats Widget 11-->
						<div class="card card-custom gutter-b">
							<!--begin::Body-->
							<div class="card-body p-0">
								<div class="d-flex align-items-center justify-content-between card-spacer flex-grow-1">
									<span class="symbol symbol-50 symbol-light-success mr-2">
										<span class="symbol-label">
											<span class="svg-icon svg-icon-xl svg-icon-success">
												<!--begin::Svg Icon | path:/metronic/theme/html/demo10/dist/assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
												<svg xmlns="http://www.w3.org/2000/svg"
													xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
													height="24px" viewbox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<rect fill="#000000" x="4" y="4" width="7" height="7"
															rx="1.5" />
														<path
															d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z"
															fill="#000000" opacity="0.3" />
													</g>
												</svg>
												<!--end::Svg Icon-->
											</span>
										</span>
									</span>
									<div class="d-flex flex-column text-right">
										<span class="text-dark-75 font-weight-bolder font-size-h3">Facturation</span>
										<span class="text-muted font-weight-bold mt-2">Démarrez votre facture
											ici.</span>
									</div>
								</div>

								<form action="{{ path('home') }}" method="POST" class=" my-4" id="facturation"
									autocomplete="off">
									<div class="form-row ">
										<div class="col ml-2">
											<div class="input-group input-group-sm">
												<select name="typefacture" class="form-control  form-control-sm" id=""
													required>
													<option value="">Type facture</option>
													{% for typefacture in typefactures %}
													<option value="{{typefacture.id}} ">{{typefacture.intitule}}
													</option>
													{% endfor %}
												</select>

											</div>

										</div>
										<div class="col">
											<div class="input-group input-group-sm">
												<div class="input-group-prepend">
													<span class="input-group-text">
														<a href="#" data-toggle="modal" data-target="#varChoice">
															<i class="fa fa-list" aria-hidden="true"></i>
														</a>
													</span>
												</div>
												<input type="text" class="form-control  form-control-sm" name="client"
													placeholder="Client" id="client" readonly required>
											</div>

										</div>
										{# <div style="display:none;">
																																	<input type="text" value="okay" name="test">
																																	</div> #}
										<div class="form-group">
											<button class="btn btn-sm btn-primary ml-1 mr-3" id="facture" name="valider"
												type="submit">Valider</button>
										</div>
									</div>

								</form>
								<div class="modal fade bd-example-modal-lg show" tabindex="-1" role="dialog"
									aria-labelledby="myLargeModalLabel" aria-modal="true" id="varChoice">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLongTitle">Liste des clients
												</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">×</span>
												</button>
											</div>
											<div class="modal-body">
												<table class="table table-striped table-checkable mt-5" id="kt_datatable"
													style="margin-top: 13px !important">
													<thead>
														<tr>
															<th>Code</th>
															<th>Désignation</th>
															<th>Numéro</th>
															<th>Adresse</th>

														</tr>
													</thead>
													<tbody>
														{% for tier in tiers %}

														<tr>
															<td>
																<a href="#" class="text-decoration-none" id="choice"
																	data-dismiss="modal"
																	data-code="{{ tier.code }}">{{ tier.code }}</a>
															</td>
															<td>{{ tier.designation }}</td>
															<td>{{ tier.numero }}</td>
															<td>{{ tier.adresse }}</td>


														</tr>
														{% endfor %}

													</tbody>
												</table>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn  btn-secondary"
													data-dismiss="modal">Fermer</button>
												<button type="button" class="btn btn-primary">Enregistrer</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end::Body-->
						</div>
						<!--end::Stats Widget 11-->
						<!--begin::Stats Widget 10-->

					</div>
				</div>


			</div>
			<!--end::Row-->
			<!--begin::Row-->

			{% if factures %}
			<div class="row  mt-10 justify-content-center">

				<div class="col-xl-10 ">
					<!--begin::List Widget 12-->
					<div class="card card-custom card-stretch">
						<!--begin::Header-->
						<div class="card-header border-0">
							<h3 class="card-title font-weight-bolder text-dark">Dernière facture</h3>
							<div class="card-toolbar">
								<div></div>
							</div>
						</div>
						<!--end::Header-->
						<!--begin::Body-->
						<div class="card-body pt-2">
							<!--begin::Item-->
							<table class="table table-striped  table-checkable mt-5 mb-5" id="kt_datatable">
								<thead class="thead-primary">
									<tr>
										<th>Facture</th>
										<th>Client</th>
										<th>Montant</th>
										<th>Payé?</th>
										<th class="float-right">Action</th>

									</tr>
								</thead>
								<tbody>
									{% for facture in factures %}
									<tr>
										<td>
											<a
												href="{{path('zoomfacture',{'id':facture.id})}}">{{facture.numeroFacture}}</a>
										</td>
										<td>
											<a
												href="{{path('zoomfacture',{'id':facture.id})}}">{{facture.clients.designation}}</a>
										</td>
										<td>{{facture.prixttc}}</td>
										<td>
											{% if facture.isPayer == false %}
											<span class="badge badge-pill badge-danger">Non</span>
											{% else %}
											<span class="badge badge-pill badge-success">oui</span>
											{% endif %}
										</td>
										<td class="float-right">
											<a href="" class="btn btn-sm">
												<i class="fa fa-print " style="color:blue;"></i>
											</a>

										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>

						</div>
						<!--end::Body-->
					</div>
					<!--end::List Widget 12-->
				</div>
			</div>
			{% endif %}

			<!--end::Row-->
			<!--end::Dashboard-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Entry-->
</div>
{% endblock  %}