{% extends 'base.html.twig' %}

{% block title %}Zooh GC| Règlement{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
        <div class="alert-text">
            <h5 class="text-dark font-weight-bold my-1 mr-5">
                <i class="fa fa-list"></i>
                Facture non soldée </h5>
        </div>

        <div class="">
           
        </div>

    </div>

    <div class="card card-custom">

        <div class="card-body">
            <!--begin: Datatable-->
            <table class="table table-striped  table-checkable mt-5" id="kt_datatable"
                style="margin-top: 13px !important">
                <thead class="thead-primary">
                    <tr>

                        <th>Date</th>
                        <th>Numéro Facture</th>
                        <th>Client</th>
                        <th>Montant facture</th>
                        <th>Montant payé</th>
                        <th>Montant restant</th>
                        <th class="text-right">actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nonSolder in nonSolders %}
                    <tr>
                        <td> {{nonSolder.date | date("d-m-Y")}} </td>
                        <td> {{nonSolder.numerofacture}} </td>
                        <td> {{nonSolder.client}} </td>
                        <td> {{nonSolder.montantfacture}} </td>
                        <td> {{nonSolder.montantpaye}} </td>
                        <td> {{nonSolder.montantrestant}} </td>
                       
                        <td class="text-right">
                          {% if nonSolder.montantrestant != 0 %}
                         <a href="" data-toggle="modal" type=""  data-target="#addmodal" data-id="{{nonSolder.id}}" title="Effectuer un règlement"
                                         data-tooltip="tooltip" class="" id="boutonreglement">
                            <span class="svg-icon svg-icon-lg svg-icon-success">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%"
                                    height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <path
                                            d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                                            fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <path
                                            d="M14.8875071,11.8306874 L12.9310336,11.8306874 L12.9310336,9.82301606 C12.9310336,9.54687369 12.707176,9.32301606 12.4310336,9.32301606 L11.4077349,9.32301606 C11.1315925,9.32301606 10.9077349,9.54687369 10.9077349,9.82301606 L10.9077349,11.8306874 L8.9512614,11.8306874 C8.67511903,11.8306874 8.4512614,12.054545 8.4512614,12.3306874 C8.4512614,12.448999 8.49321518,12.5634776 8.56966458,12.6537723 L11.5377874,16.1594334 C11.7162223,16.3701835 12.0317191,16.3963802 12.2424692,16.2179453 C12.2635563,16.2000915 12.2831273,16.1805206 12.3009811,16.1594334 L15.2691039,12.6537723 C15.4475388,12.4430222 15.4213421,12.1275254 15.210592,11.9490905 C15.1202973,11.8726411 15.0058187,11.8306874 14.8875071,11.8306874 Z"
                                            fill="#000000" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </a>
                        {% endif %}
                            
                        <a href="{{ path('detailreglement',{ 'id': nonSolder.id}) }}" title="Détail" data-tooltip="tooltip">
                            <span class="svg-icon svg-icon-primary svg-icon-2x">
                                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-12-28-020759/theme/html/demo10/dist/../src/media/svg/icons/Files/File.svg--><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <path
                                            d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                                            fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1" />
                                        <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon--></span>
                        </a>
                       
                       {# {% if nonSolder.montantrestant == 0 %}
                                a href="{{ path('validatesolde',{'id':nonSolder.id}) }}" data-tooltip="tooltip" title="cliquez ici pour confirmer que la facture est soldée">
                                    <span class="badge badge-pill badge-success">Solder</span>
                                </a>
                            {% endif %} 
                        #}
                           
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="7">Aucun enregistrement</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        <div class="modal fade" id="addmodal" data-backdrop="static" tabindex="-1" role="dialog"
                         aria-labelledby="staticBackdrop" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> Nouveau  règlement...</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i aria-hidden="true" class="ki ki-close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST" id="addregl">
                            <div class="form-group">

                                <label for="intitule1">Montant</label>
                                <input type="number" id="intitule1" name="montant" min="1" max="{{max}}" class="form-control form-control-sm" required>
                                
                            </div>
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-primary btn-sm font-weight-bold"
                            data-dismiss="modal">Annuler</button>
                        <button type="submit" id="regle" form="addregl" name="valider"
                            class="btn btn-success btn-sm font-weight-bold">Enregistrer</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
            <!--end: Datatable-->
        </div>
    </div>
      {% block javascripts %}
    <script>
        //soumission du formulaire sur le lien addreglement
        $('body').on('click', '#boutonreglement', function () {

            let id = $(this).attr('data-id');
            document.forms.addregl.action =  '/reglement/' + id ;
                
        });
    </script>
    {% endblock javascripts %}
</div>
{% endblock %}