{% extends 'base.html.twig' %}

{% block title %}societe{% endblock %}

{% block body %}

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Profile Personal Information-->
        <div class="d-flex flex-row">
            <!--begin::Aside-->

            <!--end::Aside-->
            <!--begin::Content-->
            <div class="flex-row-fluid ml-lg-10">
                <!--begin::Card-->
                <div class="card card-custom card-stretch">
                    <!--begin::Header-->
                    <div class="card-header py-3">
                        <div class="card-title align-items-start flex-column">
                            <h3 class="card-label font-weight-bolder text-dark">Information de la société</h3>
                            <span class="text-muted font-weight-bold font-size-sm mt-1">Modifier vos
                                informaitons</span>
                        </div>

                    </div>
                    <!--end::Header-->
                    <!--begin::Form-->
                    <form class="form" method="POST" action="{{path('societe')}}">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-9 col-xl-6">
                                    {# <h5 class="font-weight-bold mb-6">Customer Info</h5> #}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="image-input image-input-outline" id="kt_profile_avatar"
                                        style="background-image: url(../../../../../theme/html/demo10/dist/assets/media/users/blank.png)">
                                        <div class="image-input-wrapper"
                                            style="background-image: url(../../../../../theme/html/demo10/dist/assets/media/users/300_21.jpg)">
                                        </div>
                                        <label
                                            class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                            data-action="change" data-toggle="tooltip" title=""
                                            data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" name="image" value="" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                        <span
                                            class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                            data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                                        </span>
                                        <span
                                            class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                            data-action="remove" data-toggle="tooltip" title="Remove avatar">
                                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Nom Société </label>
                                <div class="col-lg-9 col-xl-6">
                                    <input class="form-control form-control-lg form-control-solid" type="text"
                                        value="{{psociete.nom}}" name="nom" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Adresse</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input class="form-control form-control-lg form-control-solid" type="text"
                                        value="{{psociete.adresse}}" name="adresse" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Téléphone</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group input-group-lg input-group-solid">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                        </div>
                                        <input type="number" class="form-control form-control-lg form-control-solid"
                                            value="{{psociete.telephone}}" name="telephone" />
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Ifu</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group input-group-lg input-group-solid">

                                        <input type="text" class="form-control form-control-lg form-control-solid"
                                            value="{{psociete.ifu}}" name="ifu" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Rccm</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group input-group-lg input-group-solid">

                                        <input type="text" class="form-control form-control-lg form-control-solid"
                                            value="{{psociete.rccm}}" name="rccm" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--end::Body-->
                        <div class="card-toolbar">
                            <pre>

                        </pre>
                            {% if size == 1 %}
                            <button type="submit" name="valider" class="btn btn-warning ml-5 mb-2"> Modifier</button>
                            {% else %}

                            <button type="submit" name="valider" class="btn btn-success ml-5 mb-2"> Enregistrer</button>
                            {% endif %}



                        </div>
                    </form>
                    <!--end::Form-->
                </div>
            </div>
            <!--end::Content-->
        </div>
        <!--end::Profile Personal Information-->
    </div>
    <!--end::Container-->
</div>

{% endblock %}