{% extends 'base.html.twig' %}

{% block title %}Zooh GC| Stock{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
        <div class="alert-text">
            <h5 class="text-dark font-weight-bold my-1 mr-5">
                <i class="fa fa-list"></i>
                Stock {{depot.intitule}} </h5>
        </div>

        <div class="">

        </div>

    </div>

    <div class="card card-custom">

        <div class="card-body">
            <!--begin: Datatable-->
            <table class="table table-striped  table-checkable mt-5" id="kt_datatable"
                style="margin-top: 13px !important">
                <thead class="thead-primary">
                    <tr>

                        <th class="w-75">Article</th>
                        <th class="w-25">Quantité</th>
                       
                      
                    </tr>
                </thead>
                <tbody>
                    {% for data in datas %}                       
                        <tr>
                            <td class="w-75"> {{data.article}} </td>
                            <td class="w-25"> {{data.qte}} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

         
            <!--end: Datatable-->
        </div>
    </div>
    {% block javascripts %}
    <script>
     
    </script>
    {% endblock javascripts %}
</div>
{% endblock %}