{% extends 'base.html.twig' %}

{% block title %}Zooh GC| DétailFacture{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
        <div class="alert-text">
            <h5 class="text-dark font-weight-bold my-1 mr-5">
                <i class="fa fa-list"></i>
               Détail de la facture   {{factures.numeroFacture}}</h5>
        </div>

        <div class="">

        </div>

    </div>

    <div class="card card-custom">

        <div class="card-body">
            <!--begin: Datatable-->
            <table class="table table-striped  table-checkable mt-5" id="kt_datatable"
                style="margin-top: 13px !important">
                <thead class="thead-primary">
                    <tr>

                        <th>Date</th>
                        <th>Article</th>
                        <th>Quantité</th>
                        <th>PrixUnitaire</th>
                        <th>Montant</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in details %}
                    <tr>
                        <td>{{detail.datefacture | date("d-m-Y")}}</td>
                        <td>{{detail.articles}}</td>
                        <td>{{detail.quantite}}</td>
                        <td>{{detail.prixunitaire}}</td>
                        <td>{{detail.montant}}</td>
                      
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">Aucun détaifacture</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    {% block javascripts %}

    {% endblock javascripts %}
</div>
{% endblock %}