<div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Suppression d'une catégorie tarifaire</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center">voulez-vous vraiment supprimer cette catégorie tarifaire ?</p>
                <form action="" method="post" id="deleteForm">
                    <input type="hidden" name="_method" value="DELETE">

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary btn-sm font-weight-bold"
                    data-dismiss="modal">Non</button>
                <button type="submit" form="deleteForm" class="btn btn-success btn-sm font-weight-bold">Oui</button>
            </div>
        </div>
    </div>
</div>