{% extends 'base.html.twig' %}

{% block title %}New Categorietarifaire{% endblock %}

{% block body %}
    <h1>Create new Categorietarifaire</h1>

    {{ include('categorietarifaire/_form.html.twig') }}

    <a href="{{ path('categorietarifaire_index') }}">back to list</a>
{% endblock %}
