{% extends 'base.html.twig' %}

{% block title %}Categorietarifaire{% endblock %}

{% block body %}
    <h1>Categorietarifaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorietarifaire.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ categorietarifaire.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('categorietarifaire_index') }}">back to list</a>

    <a href="{{ path('categorietarifaire_edit', {'id': categorietarifaire.id}) }}">edit</a>

    {{ include('categorietarifaire/_delete_form.html.twig') }}
{% endblock %}
