{% extends 'base.html.twig' %}

{% block title %}Edit Categoriecomptable{% endblock %}

{% block body %}
    <h1>Edit Categoriecomptable</h1>

    {{ include('categoriecomptable/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categoriecomptable_index') }}">back to list</a>

    {{ include('categoriecomptable/_delete_form.html.twig') }}
{% endblock %}
