{% extends 'base.html.twig' %}

{% block title %}New Categoriecomptable{% endblock %}

{% block body %}
    <h1>Create new Categoriecomptable</h1>

    {{ include('categoriecomptable/_form.html.twig') }}

    <a href="{{ path('categoriecomptable_index') }}">back to list</a>
{% endblock %}
