{% extends 'base.html.twig' %}

{% block title %}Categoriecomptable{% endblock %}

{% block body %}
    <h1>Categoriecomptable</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categoriecomptable.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ categoriecomptable.intitule }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('categoriecomptable_index') }}">back to list</a>

    <a href="{{ path('categoriecomptable_edit', {'id': categoriecomptable.id}) }}">edit</a>

    {{ include('categoriecomptable/_delete_form.html.twig') }}
{% endblock %}
