<div class="modal fade" id="addmodal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajout d'une nouvelle taxe...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ path('taxe_new') }}" method="POST" id="addfamille">
                    <div class="form-group">

                        <label for="intitule1">Intitule </label>
                        <input type="text" id="intitule1" name="intitule1" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">

                        <label for="taux1">Taux </label>
                        <input type="number"  step="0.01" id="taux1" name="taux1" class="form-control form-control-sm">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary btn-sm font-weight-bold"
                    data-dismiss="modal">Annuler</button>
                <button type="submit" form="addfamille" name="valider"
                    class="btn btn-success btn-sm font-weight-bold">Enregistrer</button>
            </div>
        </div>
    </div>
</div>