{% extends 'base.html.twig' %}

{% block title %}Taxe{% endblock %}

{% block body %}
    <h1>Taxe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ taxe.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ taxe.intitule }}</td>
            </tr>
            <tr>
                <th>Taux</th>
                <td>{{ taxe.taux }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('taxe_index') }}">back to list</a>

    <a href="{{ path('taxe_edit', {'id': taxe.id}) }}">edit</a>

    {{ include('taxe/_delete_form.html.twig') }}
{% endblock %}
