<!-- Modal-->
<div class="modal fade" id="updateModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modification d'une taxe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" id="editForm">
                    <div class="form-group">
                        <label for="intitule">Intitule</label>
                        <input type="text" id="intitule2" name="intitule2" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="intitule">Taux</label>
                        <input type="number" id="taux2" name="taux2" class="form-control form-control-sm">
                    </div>
                </form>
             
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary btn-sm font-weight-bold"
                    data-dismiss="modal">Annuler</button>
                <button type="submit" form="editForm" name="valider"
                    class="btn btn-success btn-sm font-weight-bold">Enregistrer</button>
            </div>
        </div>
    </div>
</div>