<!DOCTYPE html>

<html lang="fr">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!-- /Added by HTTrack -->

<head>

	<!-- End Google Tag Manager -->
	<meta charset="utf-8" />
	<title>Zooh | Gestion commerciale</title>
	<meta name="description" content="Updates and statistics" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<!--end::Fonts-->
	<!--begin::Page Vendors Styles(used by this page)-->
	<link href="{{asset('plugins/custom/fullcalendar/fullcalendar.bundle8414.css?v=7.1.7')}}" rel="stylesheet"
		type="text/css" />
	<!--end::Page Vendors Styles-->
	<!--begin::Global Theme Styles(used by all pages)-->
	<link href="{{asset('plugins/global/plugins.bundle8414.css?v=7.1.7')}}" rel="stylesheet" type="text/css" />
	<link href="{{asset('plugins/custom/prismjs/prismjs.bundle8414.css?v=7.1.7')}}" rel="stylesheet" type="text/css" />
	<link href="{{asset('css/style.bundle8414.css?v=7.1.7')}}" rel="stylesheet" type="text/css" />
	<link href="{{ asset( 'plugins/custom/datatables/datatables.bundle8414.css?v=7.1.7' ) }}" rel="stylesheet"
		type="text/css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
		integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
		crossorigin="anonymous"></script>
</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body" class="header-fixed header-mobile-fixed sidebar-enabled page-loading">

	<div id="kt_header_mobile" class="header-mobile header-mobile-fixed">
		<!--begin::Logo-->
		<!-- 	<a href="">
																		<img alt="Logo" src="" class="logo-default max-h-30px" />
																	</a> -->
		<!--end::Logo-->
		<!--begin::Toolbar-->
		<div class="d-flex align-items-center"> <button class="btn p-0 burger-icon burger-icon-left rounded-0"
				id="kt_header_mobile_toggle">
				<span></span>
			</button>
			<button class="btn btn-hover-icon-primary p-0 ml-5" id="kt_sidebar_mobile_toggle">
				<span class="svg-icon svg-icon-xl">
					<!--begin::Svg Icon | path:/metronic/theme/html/demo10/dist/assets/media/svg/icons/Design/Substract.svg-->
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
						height="24px" viewbox="0 0 24 24" version="1.1">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<rect x="0" y="0" width="24" height="24" />
							<path
								d="M6,9 L6,15 C6,16.6568542 7.34314575,18 9,18 L15,18 L15,18.8181818 C15,20.2324881 14.2324881,21 12.8181818,21 L5.18181818,21 C3.76751186,21 3,20.2324881 3,18.8181818 L3,11.1818182 C3,9.76751186 3.76751186,9 5.18181818,9 L6,9 Z"
								fill="#000000" fill-rule="nonzero" />
							<path
								d="M10.1818182,4 L17.8181818,4 C19.2324881,4 20,4.76751186 20,6.18181818 L20,13.8181818 C20,15.2324881 19.2324881,16 17.8181818,16 L10.1818182,16 C8.76751186,16 8,15.2324881 8,13.8181818 L8,6.18181818 C8,4.76751186 8.76751186,4 10.1818182,4 Z"
								fill="#000000" opacity="0.3" />
						</g>
					</svg>
					<!--end::Svg Icon-->
				</span>
			</button>
			<button class="btn btn-hover-icon-primary p-0 ml-2" id="kt_aside_mobile_toggle">
				<span class="svg-icon svg-icon-xl">
					<!--begin::Svg Icon | path:/metronic/theme/html/demo10/dist/assets/media/svg/icons/General/User.svg-->
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
						height="24px" viewbox="0 0 24 24" version="1.1">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<polygon points="0 0 24 0 24 24 0 24" />
							<path
								d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
								fill="#000000" fill-rule="nonzero" opacity="0.3" />
							<path
								d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
								fill="#000000" fill-rule="nonzero" />
						</g>
					</svg>
					<!--end::Svg Icon-->
				</span>
			</button>
		</div>
		<!--end::Toolbar-->
	</div>
	<!--end::Header Mobile-->
	<div class="d-flex flex-column flex-root">
		<!--begin::Page-->
		<div class="d-flex flex-row flex-column-fluid page">
			<!--begin::Aside-->
			<div class="aside aside-left d-flex flex-column" id="kt_aside">
				<!--begin::Brand-->
				<div class="aside-brand d-flex flex-column align-items-center flex-column-auto py-9">
					<!--begin::Logo-->
					<div class="btn p-0 symbol symbol-40 symbol-success" href="" id="kt_quick_user_toggle">
						<div class="symbol-label">
							<img alt="Logo"
								src="https://preview.keenthemes.com/metronic/theme/html/demo10/dist/assets/media/svg/avatars/007-boy-2.svg"
								class="h-75 align-self-end" />
						</div>
					</div>
					<!--end::Logo-->
				</div>
				<!--end::Brand-->
				<!--begin::Nav Wrapper-->
				<div class="aside-nav d-flex flex-column align-items-center flex-column-fluid pb-10">
					<!--begin::Nav-->
					<ul class="nav flex-column">
						<!--begin::Item-->
						<li class="nav-item mb-2" data-toggle="tooltip" data-placement="right" data-container="body"
							data-boundary="window" title="Acceuil">
							<a href="{{path('home')}}" class="nav-link btn btn-icon btn-lg btn-borderless active">
								<span class="svg-icon svg-icon-xxl">
									<!--begin::Svg Icon | path:/metronic/theme/html/demo10/dist/assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
										width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<rect x="0" y="0" width="24" height="24" />
											<rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
											<path
												d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z"
												fill="#000000" opacity="0.3" />
										</g>
									</svg>
									<!--end::Svg Icon-->
								</span>
							</a>
						</li>
						<li class="nav-item mb-2" data-toggle="tooltip" data-placement="right" data-container="body"
							data-boundary="window" title="Client">
							<a href="{{path('tiers_index')}}"
								class="nav-link btn btn-icon btn-lg btn-borderless active">
								<span class="svg-icon svg-icon-xxl">
									<!--begin::Svg Icon | path:/metronic/theme/html/demo10/dist/assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
										width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<rect x="0" y="0" width="24" height="24" />
											<rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
											<path
												d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z"
												fill="#000000" opacity="0.3" />
											<path
												d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z"
												fill="#000000" fill-rule="nonzero" opacity="0.3" />
											<path
												d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z"
												fill="#000000" fill-rule="nonzero" />
										</g>
									</svg>
									<!--end::Svg Icon-->
								</span>
							</a>
						</li>
						<li class="nav-item mb-2" data-toggle="tooltip" data-placement="right" data-container="body"
							data-boundary="window" title="Opération de stock">
							<a href="{{path('stock_index')}}"
								class="nav-link btn btn-icon btn-lg btn-borderless active">
								<span class="svg-icon svg-icon-xxl">
									<!--begin::Svg Icon | path:/metronic/theme/html/demo10/dist/assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
										width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<rect x="0" y="0" width="24" height="24" />
											<rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16"
												rx="1.5" />
											<rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
											<rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
											<rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
										</g>
									</svg>
									<!--end::Svg Icon-->
								</span>
							</a>
						</li>
						<li class="nav-item mb-2" data-toggle="tooltip" data-placement="right" data-container="body"
							data-boundary="window" title="Stock">
							<a href="#" class="nav-link btn btn-icon btn-lg btn-borderless active">
								<span class="svg-icon svg-icon-xxl">
									<!--begin::Svg Icon | path:/metronic/theme/html/demo10/dist/assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
										width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<rect x="0" y="0" width="24" height="24" />
											<path
												d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z"
												fill="#000000" opacity="0.3" />
											<path
												d="M11.1750002,14.75 C10.9354169,14.75 10.6958335,14.6541667 10.5041669,14.4625 L8.58750019,12.5458333 C8.20416686,12.1625 8.20416686,11.5875 8.58750019,11.2041667 C8.97083352,10.8208333 9.59375019,10.8208333 9.92916686,11.2041667 L11.1750002,12.45 L14.3375002,9.2875 C14.7208335,8.90416667 15.2958335,8.90416667 15.6791669,9.2875 C16.0625002,9.67083333 16.0625002,10.2458333 15.6791669,10.6291667 L11.8458335,14.4625 C11.6541669,14.6541667 11.4145835,14.75 11.1750002,14.75 Z"
												fill="#000000" />
										</g>
									</svg>
									<!--end::Svg Icon-->
								</span>
							</a>
						</li>

						<li class="nav-item mb-2" data-toggle="tooltip" data-placement="right" data-container="body"
							data-boundary="window" title="User Management">
							<a href="#" class="nav-link btn btn-icon btn-lg btn-borderless" data-toggle="tab"
								data-target="#kt_aside_tab_5" role="tab">
								<span class="svg-icon svg-icon-xxl">
									<!--begin::Svg Icon | path:/metronic/theme/html/demo10/dist/assets/media/svg/icons/Home/Library.svg-->
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
										width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<rect x="0" y="0" width="24" height="24" />
											<path
												d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z"
												fill="#000000" />
											<rect fill="#000000" opacity="0.3"
												transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519)"
												x="16.3255682" y="2.94551858" width="3" height="18" rx="1" />
										</g>
									</svg>
									<!--end::Svg Icon-->
								</span>
							</a>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="nav-item mb-2" data-toggle="tooltip" data-placement="right" data-container="body"
							data-boundary="window" title="Finance &amp; Accounting">
							<a href="#" class="nav-link btn btn-icon btn-lg btn-borderless" data-toggle="tab"
								data-target="#kt_aside_tab_6" role="tab">
								<span class="svg-icon svg-icon-xxl">
									<!--begin::Svg Icon | path:/metronic/theme/html/demo10/dist/assets/media/svg/icons/Files/File-plus.svg-->
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
										width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<polygon points="0 0 24 0 24 24 0 24" />
											<path
												d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
												fill="#000000" fill-rule="nonzero" opacity="0.3" />
											<path
												d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z"
												fill="#000000" />
										</g>
									</svg>
									<!--end::Svg Icon-->
								</span>
							</a>
						</li>
						<!--end::Item-->
					</ul>
					<!--end::Nav-->
				</div>

			</div>
			<!--end::Aside-->
			<!--begin::Wrapper-->
			<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper" style="background-color: #fbf6f0;">
				<!--begin::Header-->
				<div id="kt_header" class="header header-fixed">
					<!--begin::Header Wrapper-->
					<div class="header-wrapper rounded-top-xl d-flex flex-grow-1 align-items-center">
						<!--begin::Container-->
						<div
							class="container-fluid d-flex align-items-center justify-content-end justify-content-lg-between flex-wrap">
							<!--begin::Menu Wrapper-->
							<div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
								<!--begin::Menu-->
								<div id="kt_header_menu"
									class="header-menu header-menu-mobile header-menu-layout-default">
									<!--begin::Nav-->
									<ul class="menu-nav">
										<li class="menu-item menu-item-open menu-item-here
										 menu-item-submenu menu-item-rel menu-item-open menu-item-here mr-4" data-menu-toggle="click"
											aria-haspopup="true">
											<a href="javascript:;" style="font-family: 'Brush Script MT', cursive;
											 font-size:35px;">
												<span class="menu-text">Zooh GC</span>

											</a>

										</li>

										<li class="menu-item menu-item-open  menu-item-submenu menu-item-rel menu-item-open menu-item-here"
											data-menu-toggle="click" aria-haspopup="true">
											<a href="javascript:;" class="menu-link menu-toggle">
												<span class="menu-text">Paramètres généraux</span>
												<i class="menu-arrow"></i>
											</a>

											<div class="menu-submenu menu-submenu-classic menu-submenu-left">
												<ul class="menu-subnav">
													<li class="menu-item" aria-haspopup="true">
														<a href="{{path('article_index')}}" class="menu-link">
															<span class="menu-text">Article
															</span>
															<span class="menu-desc"></span>
														</a>
													</li>
													{# 	<li class="menu-item" aria-haspopup="true">
														<a href="{{path('categoriecomptable_index')}}"
															class="menu-link">
															<span class="menu-text">Catégorie comptable
															</span>
															<span class="menu-desc"></span>
														</a>
													</li> #}
													<li class="menu-item" aria-haspopup="true">
														<a href="{{path('categorietarifaire_index')}}"
															class="menu-link">
															<span class="menu-text">Catégorie tarifaire
															</span>
															<span class="menu-desc"></span>
														</a>
													</li>

													<li class="menu-item" aria-haspopup="true">
														<a href="{{ path('famille_index') }}" class="menu-link">
															<span class="menu-text">Famille d'article</span>
															<span class="menu-desc"></span>
														</a>
													</li>


													<li class="menu-item menu-item" aria-haspopup="true">
														<a href="{{ path('depot_index') }}" class="menu-link">
															<span class="menu-text">Magasin</span>
															<span class="menu-desc"></span>
														</a>
													</li>
													<li class="menu-item" aria-haspopup="true">
														<a href="{{path('mode_index')}}" class="menu-link">
															<span class="menu-text">Mode de règlement
															</span>
															<span class="menu-desc"></span>
														</a>
													</li>
													<li class="menu-item" aria-haspopup="true">
														<a href="{{ path('societe') }}" class="menu-link">
															<span class="menu-text">Société</span>
															<span class="menu-desc"></span>
														</a>
													</li>
													{# 
													<li class="menu-item" aria-haspopup="true">
														<a href="{{path('tarif_index')}}" class="menu-link">
															<span class="menu-text">Tarif
															</span>
															<span class="menu-desc"></span>
														</a>
													</li> #}
													<li class="menu-item" aria-haspopup="true">
														<a href="{{path('taxe_index')}}" class="menu-link">
															<span class="menu-text">Taxe
															</span>
															<span class="menu-desc"></span>
														</a>
													</li>

												</ul>
											</div>
										</li>

									</ul>

									<!--end::Nav-->
								</div>

								<!--end::Menu-->
							</div>

							<!--end::Menu Wrapper-->
							<!--begin::Toolbar-->
							<div class="d-flex align-items-center py-3 py-lg-2"></div>
							<!--end::Toolbar-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Header Wrapper-->
				</div>
				<!--end::Header-->
				<!--begin::Content-->
				<div class="container mt-4 ">

					{% for message in app.flashes('success') %}
					<div class="alert alert-success alert-dismissible col-md-4 float-right">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>{{ message }}.
					</div>
					{% endfor %}

					{% for message in app.flashes('error') %}
					<div class="alert alert-danger alert-dismissible col-md-4 float-right">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>{{ message }}.
					</div>
				</div>
				{% endfor %}

				{% block body %}{% endblock  %}
				<!--end::Content-->
				<!--begin::Footer-->

				<!--end::Footer-->
			</div>
			<!--end::Wrapper-->
			<!--begin::Aside Secondary-->

			<!--end::Aside Secondary-->
		</div>
		<!--end::Page-->
	</div>
	<!--end::Main-->
	<!-- begin::Notifications Panel-->

	<!-- end::Notifications Panel-->
	<!--begin::Quick Actions Panel-->

	<!--end::Quick Actions Panel-->

	<!-- end::User Panel-->

	<!--end::Quick Panel-->

	<!--end::Chat Panel-->
	<!--begin::Scrolltop-->



	<!--end::Demo Panel-->
	<script>
		var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";
	</script>
	<!--begin::Global Config(global config for global JS scripts)-->

	<!--end::Global Config-->
	<!--begin::Global Theme Bundle(used by all pages)-->
	<script src="{{asset('plugins/global/plugins.bundle8414.js?v=7.1.7')}}"> </script>
	<script src="{{asset('plugins/custom/prismjs/prismjs.bundle8414.js?v=7.1.7')}}"></script>
	<script src="{{asset('js/scripts.bundle8414.js?v=7.1.7')}}"></script>
	<!--end::Global Theme Bundle-->
	<!--begin::Page Vendors(used by this page)-->


	<script src="{{asset('plugins/custom/gmaps/gmaps8414.js?v=7.1.7')}}"></script>
	<!--end::Page Vendors-->
	<!--begin::Page Scripts(used by this page)-->
	<script src="{{asset('js/pages/widgets8414.js?v=7.1.7')}}"></script>
	<!--end::Page Scripts-->
	<script src="{{ asset('plugins/global/plugins.bundle8414.js?v=7.1.7') }}"></script>
	<script src="{{ asset( 'plugins/custom/prismjs/prismjs.bundle8414.js?v=7.1.7' ) }}"></script>
	<script src="{{ asset('js/scripts.bundle8414.js?v=7.1.7') }}"></script>
	<script src="{{ asset( 'plugins/custom/fullcalendar/fullcalendar.bundle8414.js?v=7.1.7' ) }}"></script>
	<script src="{{ asset('js/pages/widgets8414.js?v=7.1.7') }}"></script>
	{# datatable #}
	<script src="{{ asset( 'plugins/custom/datatables/datatables.bundle8414.js?v=7.1.7' ) }}"></script>
	<script src="{{ asset( 'js/pages/crud/datatables/data-sources/html8414.js?v=7.1.7' ) }}"></script>
	<script src="{{ asset( 'js/jquery.nameBadges.js' ) }}"></script>

	<script>
		$('#exampleModalLong form :input').val("");
		$(function () {
			$('[data-tooltip="tooltip"]').tooltip();
			$('[data-popover="popover"]').popover()
			// basic
			$('.select2').select2({
				placeholder: "Veuillez sélèctionner"
			});
		})

		$(document).ready(function () {
			$('.name').nameBadge({

				// boder options
				border: {
					color: '#ddd',
					width: 3
				},

				// an array of background colors.
				colors: [
					'#a3a948',
					'#edb92e',
					'#f85931',
					'#ce1836',
					'#009989'
				],

				// text color
				text: '#fff',

				// avatar size
				size: 30,

				// avatar margin
				margin: 0,

				// disable middle name
				middlename: true,

				// force uppercase
				uppercase: false

			});
		});

		$(document).on('click', '#choice', function () {
			let code = $(this).attr('data-code');
			// console.log(code);
			$('#client').val(code);

		});

		$(document).on('click', '#choice2', function () {
			var code = $(this).attr('data-code');
			var depot = $('#default').val();

			$('#article').val(code);
			$('#default').prop('selected', true);
			$('#quantite').val('');
			$('#prix').val('');
			getData(code, depot);
			$('#depot').change(function () {
				let depot = $('#depot').val();
				console.log(depot)
				console.log(code)
				getData(code, depot);
			});

		});

		function getData(code, depot) {
			if (code) {
				var path = "{{ path('findtarif') }}";
				$.ajax({
					type: 'post',
					url: '/findtarif',
					data: {
						code: code,
						depot: depot,

					},
					success: function (response) {
						$('#prix').val(response.data);
						$('#quantite').val(1);
						$('#quantite').attr({
							"max": response.qte
						});
					}
				});
			}
		}
	</script>
	{% block javascripts %}{% endblock javascripts %}

</body>


</html>
</body>

</html>