<div class="modal fade" id="exampleModalLong" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajout d'un client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" style="display:none"></div>
                <form action="{{ path('tiers_new') }}" method="POST" id="addarticle">
                   
                    <div class="form-group">
                        <label for="intitule1">Code</label>
                        <input type="text" id="reference1" name="reference1" class="form-control form-control-sm"
                            onkeydown="if(event.keyCode==32) return false;">
                    </div>
                    <div class="form-group">
                        <label for="designation1">Catégorie tarifaire</label>
                        <select  id="categorie1" name="categorie1" class="form-control form-control-sm " style="width: 100%;">
                          {% for categorietarifaire in categorietarifaires %}
                            <option value="{{categorietarifaire.id}}"> {{categorietarifaire.libelle}}</option>
                          {% endfor %}
                        </select>
                    </div>
                    {#<div class="form-group">
                        <label for="">Catégorie Comptable</label>
                        <select id="categoriecomptable" name="categoriecomptable1"
                            class="form-control form-control-sm " style="width: 100%;">
                          {% for categoriecomptable in categoriecomptables %}
                            <option value="{{categoriecomptable.id}}"> {{categoriecomptable.intitule}}</option>
                          {% endfor %}
                        </select>
                    </div>#}
                    <div class="form-group">
                        <label for="">Taxe</label>
                        <select id="taxe1" name="taxe1"
                            class="form-control form-control-sm " style="width: 100%;">
                               <option value="">Sélectionner taxe</option>
                          {% for taxe in taxes %}
                            <option value="{{taxe.id}}"> {{taxe.intitule}}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="designation1">Nom et Prénoms</label>
                        <input type="text" id="designation1" name="designation1" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="prix1">Numero</label>
                        <input type="number" id="numero1" name="numero" class="form-control form-control-sm">
                    </div>

                    <div class="form-group">
                        <label for="prix1">Adresse</label>
                        <input type="text" id="adresse1" name="adresse" class="form-control form-control-sm">
                    </div>

                    <div class="form-group">
                        <label for="ifu">Ifu</label>
                        <input type="integer" id="ifu1" name="ifu1" class="form-control form-control-sm">
                    </div>
                   {#  <div class="form-group">
                        <label for="">Etat</label>
                        <select id="etat1" name="etat"
                            class="form-control form-control-sm " style="width: 100%;">
                            <option value="">Sélectionner situation client</option>
                            <option value="Taxable">Taxable</option>
                            <option value="Non Taxable"> Non Taxable</option>
                        </select>
                    </div> #}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary btn-sm font-weight-bold"
                    data-dismiss="modal">Annuler</button>
                <button type="submit" form="addarticle" name="valider" class="btn btn-success btn-sm font-weight-bold"
                    id="formSubmit">Enregistrer</button>
            </div>
        </div>
    </div>
</div>