{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}

<div class="container mt-5 ">

    <div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
        <div class="alert-text">
            <h5 class="text-dark font-weight-bold my-1 mr-5">
                <i class="fa fa-list"></i>
                Liste des Clients.
            </h5>
        </div>
        <div class="alert-icon">
            <div class="">
                <a href="" data-toggle="modal" data-target="#exampleModalLong" title="Nouveau client"
                    data-tooltip="tooltip" class="btn btn-sm btn-outline-secondary">
                    <span class="svg-icon svg-icon-lg svg-icon-success">
                        <!--begin::Svg Icon | path:/metronic/theme/html/demo10/dist/assets/media/svg/icons/Files/DownloadedFile.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%"
                            height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24" />
                                <path
                                    d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                                    fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                <path
                                    d="M14.8875071,11.8306874 L12.9310336,11.8306874 L12.9310336,9.82301606 C12.9310336,9.54687369 12.707176,9.32301606 12.4310336,9.32301606 L11.4077349,9.32301606 C11.1315925,9.32301606 10.9077349,9.54687369 10.9077349,9.82301606 L10.9077349,11.8306874 L8.9512614,11.8306874 C8.67511903,11.8306874 8.4512614,12.054545 8.4512614,12.3306874 C8.4512614,12.448999 8.49321518,12.5634776 8.56966458,12.6537723 L11.5377874,16.1594334 C11.7162223,16.3701835 12.0317191,16.3963802 12.2424692,16.2179453 C12.2635563,16.2000915 12.2831273,16.1805206 12.3009811,16.1594334 L15.2691039,12.6537723 C15.4475388,12.4430222 15.4213421,12.1275254 15.210592,11.9490905 C15.1202973,11.8726411 15.0058187,11.8306874 14.8875071,11.8306874 Z"
                                    fill="#000000" />
                            </g>
                        </svg>

                    </span>
                    Nouveau
                </a>

            </div>
        </div>

    </div>

    <div class="card card-custom">

        <div class="card-body">
            <!--begin: Datatable-->
            <table class="table table-striped  table-checkable mt-5" id="kt_datatable"
                style="margin-top: 13px !important">
                <thead class="thead-primary">
                    <tr>
                      
                        <th>Catégorie tarifaire</th>
                        <th>Taxe</th>
                        <th>Client</th>
                        <th>Numero</th>
                        <th>Adresse</th>
                        <th>Ifu</th>
                        <th class="text-right">actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tier in tiers %}
                    <tr>
                     
                        <td>{{ tier.categorietarifaires.libelle }}</td>
                        <td>{{ tier.taxes ? tier.taxes.intitule:'' }}</td>
                        <td>
                            <div class="row">
                                <div><span class="name">{{ tier.designation }}</span></div>
                                <div>{{ tier.designation }}</div>
                            </div>
                        </td>
                        <td>{{ tier.numero }}</td>
                        <td>{{ tier.adresse }}</td>
                        <td>{{ tier.ifu ? tier.ifu:'' }}</td>

                        <td class="text-right ">
                            <a href="#" id="edit" data-toggle="modal" data-target="#updateModal"
                                title="Modification de : {{tier.designation}}" data-tooltip="tooltip"
                                data-id="{{tier.id}}" data-reference="{{tier.code}}"
                                data-categorie="{{tier.categorietarifaires.libelle}}"
                                data-taxe="{{tier.taxes ? tier.taxes.intitule:'' }}" data-ifu="{{tier.ifu}}"
                                data-designation="{{tier.designation}}" data-numero="{{tier.numero}}"
                                data-adresse="{{tier.adresse}}" data-etat="{{tier.etat}}" title="Modification de :
                                {{tier.designation}}"
                                data-tooltip="tooltip" class="mr-2">
                                <i class=" text-warning fas fa-pencil-alt"></i>
                            </a>
                            <a href="#" title="Suppression de : {{tier.designation}}" data-id="{{tier.id}}"
                                data-tooltip="tooltip">
                                <i class=" text-danger fas fa-trash-alt" id="delete" data-toggle="modal"
                                    data-target="#deleteModal"></i>
                            </a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">Aucun enregistrement</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!--end: Datatable-->
        </div>
    </div>

    {% include "tiers/add.html.twig" %}
    {% include "tiers/update.html.twig" %}
    {% include "tiers/_delete_form.html.twig" %}

    {% block javascripts %}

    <script>
        //For update
        $('body').on('click', '#edit', function () {
            let id = $(this).attr('data-id');
            let reference = $(this).attr('data-reference');
            let designation = $(this).attr('data-designation');
            let numero = $(this).attr('data-numero');
            let adresse = $(this).attr('data-adresse');
            let categorie = $(this).attr('data-categorie');
            let taxe = $(this).attr('data-taxe');
            let etat = $(this).attr('data-etat');
            console.log(categorie);
            console.log(taxe);
            let ifu = $(this).attr('data-ifu');

            $('#reference2').val(reference);
            $('#designation2').val(designation);
            $('#numero2').val(numero);
            $('#adresse2').val(adresse);
            $('#ifu2').val(ifu);
            $('#etat2').val(etat);
            $('#categorie2 select').val(categorie);
            $('#categorie2').select2().trigger('change');
            $('#taxe2 select').val(taxe);
            $('#taxe2').select2().trigger('change');
            document.forms.editForm.action = '/tiers/' + id + '/edit';
        });

        //for delete
        $(document).on('click', '#delete', function () {
            let id = $(this).attr('data-id');
            document.forms.deleteForm.action = '/tiers/' + id;
        });

        $(document).ready(function () {
            $('#reference1').change(function (e) {
                $('.alert-danger').hide();
                e.preventDefault();
                var path = "{{ path('tiers_validation') }}";
                $.ajax({
                    url: path,
                    method: 'post',
                    data: {
                        reference1: $('#reference1').val(),
                    },
                    success: function (result) {
                        //console.log(result);
                        if (result.errors) {
                            $('.alert-danger').html('');
                            $('.alert-danger').show();
                            $('.alert-danger').append('<li>' + result.errors + '</li>');
                        }
                    }
                });
            });
        });

        FormValidation.formValidation(document.getElementById('addarticle'), {
            fields: {
                reference1: {
                    validators: {
                        notEmpty: {
                            message: 'Le code ne peut être nul'
                        }
                    }
                },
                categorie1: {
                    validators: {
                        notEmpty: {
                            message: 'La catégorie tarifaire ne peut être nulle'
                        }
                    }
                },
                designation1: {
                    validators: {
                        notEmpty: {
                            message: 'La désignation  ne peut être nulle'
                        }
                    }
                },
                numero: {
                    validators: {
                        notEmpty: {
                            message: 'Le numéro  ne peut être nul'
                        }
                    }
                },
                adresse: {
                    validators: {
                        notEmpty: {
                            message: 'L\'adresse  ne peut être nulle'
                        }
                    }
                },
                taxe1: {
                    validators: {
                        notEmpty: {
                            message: 'La taxe  ne peut être nulle'
                        }
                    }
                },
                etat: {
                    validators: {
                        notEmpty: {
                            message: 'L\'etat du client ne peut être nul'
                        }
                    }
                }

            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                // Validate fields when clicking the Submit button
                submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                // Bootstrap Framework Integration
                bootstrap: new FormValidation.plugins.Bootstrap({
                    eleInvalidClass: '',
                    eleValidClass: ''
                })
            }
        });
        FormValidation.formValidation(document.getElementById('editForm'), {
            fields: {
                reference2: {
                    validators: {
                        notEmpty: {
                            message: 'Le code ne peut être nul'
                        }
                    }
                },
                categorie2: {
                    validators: {
                        notEmpty: {
                            message: 'La catégorie tarifaire ne peut être nulle'
                        }
                    }
                },
                designation2: {
                    validators: {
                        notEmpty: {
                            message: 'La désignation  ne peut être nulle'
                        }
                    }
                },
                numero2: {
                    validators: {
                        notEmpty: {
                            message: 'Le numéro  ne peut être nul'
                        }
                    }
                },

                adresse2: {
                    validators: {
                        notEmpty: {
                            message: 'L\'adresse  ne peut être nulle'
                        }
                    }
                },

                taxe2: {
                    validators: {
                        notEmpty: {
                            message: 'La taxe ne peut être nulle'
                        }
                    }
                },

                etat2: {
                    validators: {
                        notEmpty: {
                            message: 'L\'etat du client ne peut être nul'
                        }
                    }
                }
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                // Validate fields when clicking the Submit button
                submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                // Bootstrap Framework Integration
                bootstrap: new FormValidation.plugins.Bootstrap({
                    eleInvalidClass: '',
                    eleValidClass: ''
                })
            }
        });
    </script>
    {% endblock javascripts %}
</div>

{% endblock %}