{% extends 'base.html.twig' %}

{% block title %}Tiers{% endblock %}

{% block body %}
    <h1>Tiers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tier.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ tier.code }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ tier.designation }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ tier.numero }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ tier.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tiers_index') }}">back to list</a>

    <a href="{{ path('tiers_edit', {'id': tier.id}) }}">edit</a>

    {{ include('tiers/_delete_form.html.twig') }}
{% endblock %}
