<!-- Modal-->
<div class="modal fade" id="updateModal" data-backdrop="static" role="dialog" aria-labelledby="staticBackdrop"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modification d'un client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" style="display:none"></div>
                <form action="" method="POST" id="editForm">
                    <div class="form-group">
                        <label for="intitule2">Code</label>
                        <input type="text" id="reference2" name="reference2" class="form-control form-control-sm"
                            onkeydown="if(event.keyCode==32) return false;">
                    </div>
                    <div class="form-group">
                        <label for="designation1">Catégorie tarifaire</label>
                        <select id="categorie2" name="categorie2" class="form-control form-control-sm"
                            style="width: 100%;">
                            {% for categorietarifaire in categorietarifaires %}
                            <option value="{{categorietarifaire.id}}"> {{categorietarifaire.libelle}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Taxe</label>
                        <select id="taxe2" name="taxe2" class="form-control form-control-sm " style="width: 100%;">
                            {% for taxe in taxes %}
                            <option value="{{taxe.id}}"> {{taxe.intitule}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="designation2">Nom et Prénoms</label>
                        <input type="text" id="designation2" name="designation2" class="form-control form-control-sm">
                    </div>

                    <div class="form-group">
                        <label for="numero2">Numéro</label>
                        <input type="number" id="numero2" name="numero2" class="form-control form-control-sm">
                    </div>

                    <div class="form-group">
                        <label for="adresse2">Adresse</label>
                        <input type="text" id="adresse2" name="adresse2" class="form-control form-control-sm">
                    </div>

                    <div class="form-group">
                        <label for="ifu">Ifu</label>
                        <input type="integer" id="ifu2" name="ifu2" class="form-control form-control-sm">
                    </div>
                     <div class="form-group">
                         <label for="">Etat</label>
                         <select id="etat2" name="etat2" class="form-control form-control-sm " style="width: 100%;">
                             <option value="">Sélectionner situation client</option>
                             <option value="Taxable">Taxable</option>
                             <option value="Non Taxable"> Non Taxable</option>
                         </select>
                     </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary btn-sm font-weight-bold"
                    data-dismiss="modal">Annuler</button>
                <button type="submit" form="editForm" name="valider"
                    class="btn btn-success btn-sm font-weight-bold">Enregistrer</button>
            </div>

        </div>
    </div>
</div>