<div class="modal fade" id="exampleModalLong" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Opération de stock</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" style="display:none"></div>
                <form action="{{ path('stock_new') }}" method="POST" id="addarticle">
                    <div class="form-group ">
                        <label class="col-form-label ">Type d'opération</label>
                        <select class="form-control select2" id="operation" name="operation" style="width: 100%;">
                            <option value="1">Entrée</option>
                            <option value="2">Sortie</option>
                            <option value="3">Transfert</option>
                        </select>

                    </div>
                    
                    <div class="form-group" style="display:none" id="divarticle">
                        <label class="col-form-label ">Article</label>
                        <select class="form-control select2" id="article" name="article" style="width: 100%;">
                            {% for article in articles %}
                            <option value="{{article.id}}">{{article.designation}} </option>
                            {% endfor %}
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="intitule1">Date</label>
                        <input type="date" id="date" name="date" class="form-control form-control-sm">
                    </div>

                    <div class="form-group ">
                        <label class="col-form-label ">Dépot</label>
                        <select class="form-control select2" id="depot" name="depot" style="width: 100%;">
                            {% for depot in depots %}
                                <option value="{{depot.id}}">{{depot.intitule}} </option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="form-group" style="display:none" id="recepteur">
                        <label class="col-form-label ">Dépot Récepteur</label>
                        <select class="form-control select2" id="" name="depotrecepteur" style="width: 100%;">
                            {% for depot in depots %}
                                <option value="{{depot.id}}">{{depot.intitule}} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group" id="quantitehide" style="display:none">
                        <label for="intitule1">Quantité</label>
                        <input type="number" id="quantite" name="quantite" class="form-control form-control-sm">
                    </div>

                </form>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary btn-sm font-weight-bold"
                    data-dismiss="modal">Annuler</button>
                <button type="submit" form="addarticle" name="valider" class="btn btn-success btn-sm font-weight-bold"
                    id="formSubmit">Enregistrer</button>
            </div>



        </div>
    </div>
</div>