{% extends 'base.html.twig' %}

{% block title %}Stock
{% endblock %}

{% block body %}
	<div class="container mt-5 ">

		<div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
			<div class="alert-text">
				<h5 class="text-dark font-weight-bold my-1 mr-5">
					<i class="fa fa-list"></i>
					Détail.</h5>
			</div>


		</div>

		<div class="card card-custom">

			<div
				class="card-body">
				<!--begin: Datatable-->
				{% if type.nserie != null %}
					<table class="table table-striped  table-checkable mt-5" id="kt_datatable" style="margin-top: 13px !important">
						<thead class="thead-primary">
							<tr>

								<th class="w-75">N° Série</th>
								<th class="w-25">Quantité</th>

							</tr>
						</thead>
						<tbody>
							{% for detail in details %}
								<tr>
									<td class="w-75">
										{{detail.nserie}}</td>
									<td class="w-25">{{detail.quantite}}</td>
								</tr>

							{% endfor %}
						</tbody>
					</table>
				{% endif %}

				{% if type.nlot != null %}
					<table class="table table-striped  table-checkable mt-5" id="kt_datatable" style="margin-top: 13px !important">
						<thead class="thead-primary">
							<tr>

								<th class="w-75">N° Lot</th>
								<th class="w-25">Quantité</th>

							</tr>
						</thead>
						<tbody>
							{% for detail in details %}
								<tr>
									<td class="w-75">
										{{detail.nlot}}</td>
									<td class="w-25">{{detail.quantite}}</td>
								</tr>

							{% endfor %}
						</tbody>
					</table>
				{% endif %}

				<!--end: Datatable-->
			</div>
		</div>


	</div>
{% endblock %}
