{% extends 'base.html.twig' %}

{% block title %}Stock {% endblock %}

{% block body %}
<div class="container mt-5 ">


    <div class="alert alert-custom alert-white alert-shadow fade show gutter-b " role="alert">
        <div class="alert-text">
            <h5 class="text-dark font-weight-bold my-1 mr-5">
                <i class="fa fa-list"></i>
                Gestion par lot de l'article : {{article}} </h5>
        </div>
        <div class="float-right">

            <span>Quantité restante à entrer : <b class="text-danger">{{reste}}</b></span>
        </div>

    </div>


    <div class="card card-custom">

        <div class="card-body">
            <!--begin: Datatable-->
            <form action="{{ path('entreelot',{'id': stock.id}) }}" method="POST" class=" my-5" autocomplete="off">
                <div class="form-row ">
                    <div class="col-4 ml-3 form-group">
                        <input type="text" name="nlot" id="nlot" class="form-control form-control-sm"
                            placeholder="N° Lot" required>
                    </div>
                    <div class="col-2 ml-3 form-group">
                        <input type="number" step="0.1" name="quantite" id="quantite" min="1" max="{{reste}}"
                            class="form-control form-control-sm" placeholder="Quantité" required>
                    </div>
                    <div class="col-2 ml-3 form-group">
                        <input type="number" step="0.1" name="prix" id="prix" class="form-control form-control-sm"
                            placeholder="Prix unitaire " required>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-sm btn-primary ml-3" type="submit">Valider</button>
                    </div>
                </div>

            </form>
            <table class="table table-striped  table-checkable mt-5 mb-5" id="kt_datatable"
                style="margin-top: 13px !important">
                <thead class="thead-primary">
                    <tr>

                        <th class="w-50">N lot</th>
                        <th class="text-center">Quantité</th>
                        <th class="text-center">Prix unitaire</th>
                        <th class="float-right">Action</th>


                    </tr>
                </thead>
                <tbody>
                    {% for tampon in tampons %}
                    <tr>
                        <td class="w-50"> {{tampon.nlot}} </td>
                        <td class="text-center"> {{tampon.quantite}} </td>
                        <td class="text-center"> {{tampon.prixUnitaire}} </td>
                        <td class="float-right"> <a href="{{ path('tampondelete',{'id':tampon.id}) }}"><i
                                    class="fa fa-trash text-danger"></i></a> </td>
                    </tr>

                    {% else %}
                    <tr>
                        <td colspan="4">Aucun enregistrement</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if tampons | length > 0 %}
            {% if reste == 0 %}
            <a href="{{path('validatelot',{'id':stock.id})}}"
                class="btn btn-sm btn-outline-success float-right mt-5">Valider la mise en stock</a>
            {% else %}
            <input type="submit" value="Valider la mise en stock"
                class="btn btn-sm btn-outline-success float-right mt-5" disabled>
            {% endif %}
            <a href="{{ path('delentree',{'id':stock.id}) }}"
                class="btn btn-sm btn-outline-danger float-right mt-5 mr-2">Annuler
                l'opération</a>
            {% endif %}

            <!--end: Datatable-->
        </div>
    </div>

    {% block javascripts %}



    {% endblock javascripts %}
</div>
{% endblock %}