{% extends 'base.html.twig' %}

{% block title %}Stock{% endblock %}

{% block body %}
<div class="container mt-5 ">
    <div class="alert alert-custom alert-white alert-shadow fade show gutter-b " role="alert">
        <div class="alert-text">
            <h5 class="text-dark font-weight-bold my-1 mr-5">
                <i class="fa fa-list"></i>
                Transfert de  {{emmetteurs}}  vers  {{recepteurs}}
                </h5>
        </div>
    </div>

    <div class="card card-custom">
        <div class="card-body">
            <!--begin: Datatable-->
            <form action="" method="POST" class=" my-5" autocomplete="off"  >
                <div class="form-row ">
                    <div class="col-md-4 ml-3 form-group">
                        <select name="article" id="article" class="form-control form-control-sm" required>
                            <option value="">Choississez l'article</option>
                                {% for row in articles %}
                                    <option value="{{row.article}}">{{row.article}}</option>
                                {% endfor %}
                        </select>
                        <input type="hidden" value="{{emmetteurid}}" id="depot">
                    </div>
                    <div class="col-md-2 ml-3 form-group">
                        <input type="number" step="0.1" name="quantite" id="quantite"
                            class="form-control form-control-sm" min="1" placeholder="Quantité" required>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-sm btn-primary ml-3" type="submit" name="valider">Valider</button>
                    </div>
                </div>

            </form>


    <table class="table table-striped  table-checkable mt-5 mb-5" id="kt_datatable"
        style="margin-top: 13px !important">
        <thead class="thead-primary">
            <tr>
                <th class="">Article</th>
                <th class="text-center">Quantité</th>
                <th class="float-right">Action</th>
            </tr>
        </thead>
      
        <tbody>
            {% for tampon in tampons %}
                <tr>
                    <td class="">{{tampon.article}}</td>
                    <td class="text-center">{{tampon.qtedispo}}</td>
                    <td class="float-right">
                        <a href="{{ path('tampondeletetransfert',{'id':tampon.id}) }}">
                            <i class="fa fa-trash text-danger"></i>
                        </a>
                    </td>
                    
                </tr>
               
                {% else %} 
                    <tr>

                        <td colspan="3">Aucun enregistrement</td>
                    </tr>
             {% endfor %}
        </tbody>
    </table>
{% if tampons| length > 0 %}
    <a href="{{path('validertranfert',{'id':stock.id, 'emmetteurid': emmetteurid, 'recepteurid':recepteurid})}}"
        class="btn btn-sm btn-outline-success float-right mt-5">Valider le
        transfert</a>

    <a href="{{path('annulertransfert',{'id':stock.id})}}"
        class="btn btn-sm btn-outline-danger float-right mt-5 mr-2">Annuler
        l'opération</a>
    <!--end: Datatable-->
{% endif %}
        </div>
    </div>

    {% block javascripts %}
        <script>
           /* $(document).ready(function () {
                $('form').on('submit', function (e) {
                    e.preventDefault();
                    e.returnValue = false;
                    var len = $('#quantite').val();
                    console.log(len)
                    if (len != 0) {
                        this.submit();
                    } else {
                        alert('Veuillez entrer une quantité supérieure à 0')
                    }
                    $('form').preventDoubleSubmission()
                });
            });*/

            $("#article").change(function () {

                var article = $(this).val();
                var depot = '{{emmetteurid}}';
                var path = "{{ path('getqteDispo') }}";
                $.ajax({
                    type: 'post',
                    url: path,
                    data: {
                        article: article,
                        depot: depot
                    },
                    success: function (response) { // console.log(response.data);
                        
                        $('#quantite').val(response.data);
                        $('#quantite').attr({
                            "max": response.data
                        });
                    }
                });
            });
        </script>
    {% endblock javascripts %}
</div>
{% endblock %}
