{% extends 'base.html.twig' %}

{% block title %}Stock
{% endblock %}

{% block body %}
	<div class="container mt-5 ">


		<div class="alert alert-custom alert-white alert-shadow fade show gutter-b " role="alert">
			<div class="alert-text">
				<h5 class="text-dark font-weight-bold my-1 mr-5">
					<i class="fa fa-list"></i>
					Gestion en série de l'article :
					{{article}}
				</h5>
			</div>

			<div class="float-right">
				<span>Quantité restante à entrer :
					<b class="text-danger">{{reste}}</b>
				</span>
			</div>


		</div>


		<div class="card card-custom">

			<div
				class="card-body">
				<!--begin: Datatable-->
				<div class="row">
					<div class="col-md-6">
						<form action="{{ path('entreeserie',{'id': stock.id}) }}" id="manuel" method="POST" class=" my-5">
							<div class="form-row ">
								<div class="col-auto ml-3 form-group">
									<input type="text" name="nserie" id="nserie" class="form-control form-control-sm" placeholder="N° Série" required autofocus autocomplete="off">
								</div>


								<div class="form-group">
									<button class="btn btn-sm btn-primary ml-3" type="submit">Valider</button>
								</div>
							</div>

						</form>
					</div>
					<div class="col-md-6" id="auto">
						<a href="" data-toggle="modal" data-target="#exampleModalLong" title="Entrée automatique" data-tooltip="tooltip" class="btn btn-sm btn-outline-secondary float-right">
							<span class="svg-icon svg-icon-lg svg-icon-success">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="24px" viewbox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24"/>
										<path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
										<path d="M14.8875071,11.8306874 L12.9310336,11.8306874 L12.9310336,9.82301606 C12.9310336,9.54687369 12.707176,9.32301606 12.4310336,9.32301606 L11.4077349,9.32301606 C11.1315925,9.32301606 10.9077349,9.54687369 10.9077349,9.82301606 L10.9077349,11.8306874 L8.9512614,11.8306874 C8.67511903,11.8306874 8.4512614,12.054545 8.4512614,12.3306874 C8.4512614,12.448999 8.49321518,12.5634776 8.56966458,12.6537723 L11.5377874,16.1594334 C11.7162223,16.3701835 12.0317191,16.3963802 12.2424692,16.2179453 C12.2635563,16.2000915 12.2831273,16.1805206 12.3009811,16.1594334 L15.2691039,12.6537723 C15.4475388,12.4430222 15.4213421,12.1275254 15.210592,11.9490905 C15.1202973,11.8726411 15.0058187,11.8306874 14.8875071,11.8306874 Z" fill="#000000"/>
									</g>
								</svg>
								<!--end::Svg Icon-->
							</span>
							Entrée automatique
						</a>
					</div>


				</div>

				<table class="table table-striped  table-checkable mt-5 mb-5" id="kt_datatable" style="margin-top: 13px !important">
					<thead class="thead-primary">
						<tr>
							<th class="">N° Série</th>
							<th class="text-center">Quantité</th>
							<th class="float-right">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for tampon in tampons %}
							<tr>
								<td class="">
									{{tampon.nserie}}
								</td>
								<td class="text-center">
									{{tampon.quantite}}
								</td>
								<td class="float-right">
									<a href="{{ path('tampondeleteserie',{'id':tampon.id}) }}">
										<i class="fa fa-trash text-danger"></i>
									</a>
								</td>
							</tr>

						{% else %}
							<tr>
								<td colspan="3">Aucun enregistrement</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% if tampons | length > 0 %}
					{% if reste == 0 %}
						<a href="{{path('validateserie',{'id':stock.id})}}" class="btn btn-sm btn-outline-success float-right mt-5">Valider la mise en stock</a>
					{% else %}
						<input type="submit" value="Valider la mise en stock" class="btn btn-sm btn-outline-success float-right mt-5" disabled>
					{% endif %}
					<a href="{{ path('delentree',{'id':stock.id}) }}" class="btn btn-sm btn-outline-danger float-right mt-5 mr-2">Annuler
																														                l'opération</a>
				{% endif %}

				<!--end: Datatable-->
			</div>
		</div>
		<div class="modal fade" id="exampleModalLong" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Entrée automatique</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<i aria-hidden="true" class="ki ki-close"></i>
						</button>
					</div>
					<div class="modal-body">

						<form action="{{ path('entreeserie',{'id': stock.id}) }}" method="POST" id="">


							<div class="form-group" id="quantitehide">
								<label for="intitule1">Préfixe</label>
								<input type="text" id="quantite" name="prefixe" class="form-control form-control-sm" required>
							</div>
							<div class="form-group">
								<label for="intitule1">Début</label>
								<input type="number" name="debut" class="form-control form-control-sm" required>
							</div>
							<div class="form-group">
								<label for="intitule1">fin</label>
								<input type="number" name="fin" class="form-control form-control-sm" required>
							</div>

						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-light-primary btn-sm font-weight-bold" data-dismiss="modal">Annuler</button>
							<button type="submit" name="auto" class="btn btn-success btn-sm font-weight-bold">Enregistrer</button>
						</div>
					</form>


				</div>
			</div>
		</div>

		{% block javascripts %}
			<script>
				$('#manuel').submit(function () {
				$('auto').hide();
				e.preventDefault();
				});
			</script>
		{% endblock javascripts %}
	</div>
{% endblock %}
