{% extends 'base.html.twig' %}

{% block title %}Stock {% endblock %}

{% block body %}
<div class="container mt-5 ">

    <div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
        <div class="alert-text">
            <h5 class="text-dark font-weight-bold my-1 mr-5">
                <i class="fa fa-list"></i>
               Opération de stock.</h5>
        </div>
        <div class="">
            <a href="" data-toggle="modal" data-target="#exampleModalLong" title="Nouvelle opération de stock"
                data-tooltip="tooltip" class="btn btn-sm btn-outline-secondary">
                <span class="svg-icon svg-icon-lg svg-icon-success">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%"
                        height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path
                                d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                                fill="#000000" fill-rule="nonzero" opacity="0.3" />
                            <path
                                d="M14.8875071,11.8306874 L12.9310336,11.8306874 L12.9310336,9.82301606 C12.9310336,9.54687369 12.707176,9.32301606 12.4310336,9.32301606 L11.4077349,9.32301606 C11.1315925,9.32301606 10.9077349,9.54687369 10.9077349,9.82301606 L10.9077349,11.8306874 L8.9512614,11.8306874 C8.67511903,11.8306874 8.4512614,12.054545 8.4512614,12.3306874 C8.4512614,12.448999 8.49321518,12.5634776 8.56966458,12.6537723 L11.5377874,16.1594334 C11.7162223,16.3701835 12.0317191,16.3963802 12.2424692,16.2179453 C12.2635563,16.2000915 12.2831273,16.1805206 12.3009811,16.1594334 L15.2691039,12.6537723 C15.4475388,12.4430222 15.4213421,12.1275254 15.210592,11.9490905 C15.1202973,11.8726411 15.0058187,11.8306874 14.8875071,11.8306874 Z"
                                fill="#000000" />
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
                Opération
            </a>
        </div>

    </div>

    <div class="card card-custom">
        <div class="card-body">
            <!--begin: Datatable-->
            <table class="table table-striped  table-checkable mt-5" id="kt_datatable"
                style="margin-top: 13px !important">
                <thead class="thead-primary">
                    <tr>

                        <th>Type opération</th>
                        <th>Date</th>
                        <th>Magasin</th>
                        <th>Référence Stock</th>
                        <th>Article</th>
                        <th>Quantite</th>
                        <th class="text-right">actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        <td>
                            {% if stock.operation == 1 %}
                            <span class="badge badge-pill badge-success">Entrée</span>

                            {% else %}
                            <span class="badge badge-pill badge-danger">Sortie </span>
                            {% endif %}
                        </td>
                        <td>{{ stock.createdAt |date('d-m-Y') }}</td>
                        <td>{{ stock.depots.intitule }}</td>
                        <td>{{ stock.refStock }}</td>
                        <td>{{ stock.Articles ? stock.Articles.designation:'' }}</td>
                        <td class="text-center">{{ stock.quantite }}</td>

                        <td class="text-right">
                            {% if stock.operation != 3 %}
                            
                            {% if  stock.Articles.Typesuivis.intitule != "CMUP" %}

                            <a href="{{ path('detailentree',{'id': stock.id}) }}" title="Détail" data-tooltip="tooltip">
                                <span class="svg-icon svg-icon-primary svg-icon-2x">
                                    <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-12-28-020759/theme/html/demo10/dist/../src/media/svg/icons/Files/File.svg--><svg
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <path
                                                d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                                                fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                            <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1" />
                                            <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1" />
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon--></span>
                            </a>
                            {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="10">Aucun enregistrement</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!--end: Datatable-->
        </div>
    </div>
    {% include "stock/add.html.twig" %}

    {% block javascripts %}


    <script>
        $('#operation').on('change', function () {
            if ($(this).val() === "1") {
                $("#quantitehide").show()
                 $("#divarticle").show()
            } 
            
            if($(this).val() === "2") {
                $("#quantitehide").hide()
                 $("#divarticle").show()
            }

            if($(this).val() === "3") {
                $("#quantitehide").hide()
                $("#recepteur").show()
                $("#divarticle").hide()
            }
        });

      
        $("#article").change(function () {
            if ($('#operation').val() === "2") {
                 $("#recepteur").hide()
                var id = $(this).val();
                var path = "{{ path('searchtype') }}";

                $.ajax({
                    type: 'post',
                    url: path,
                    data: {
                        id: id,
                    },
                    success: function (response) {
                        // console.log(response.data);
                        if (response.data == "CMUP") {
                            $("#quantitehide").show()
                        } else {
                            $("#quantitehide").hide()
                        }
                    }
                });
            }
        });


        FormValidation.formValidation(document.getElementById('addarticle'), {
            fields: {
                date: {
                    validators: {
                        notEmpty: {
                            message: 'La date ne peut être nule'
                        }
                    }
                },

                operation: {
                    validators: {
                        notEmpty: {
                            message: 'La type d\'opération  ne peut être nul'
                        }
                    }
                },
                
                depot: {
                    validators: {
                        notEmpty: {
                            message: 'Le dépot ne peut être nul'
                        }
                    }
                }

            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                // Validate fields when clicking the Submit button
                submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                // Bootstrap Framework Integration
                bootstrap: new FormValidation.plugins.Bootstrap({
                    eleInvalidClass: '',
                    eleValidClass: ''
                })
            }
        });
    </script>
    {% endblock javascripts %}

</div>
{% endblock %}