{% extends 'base.html.twig' %}

{% block title %}Stock{% endblock %}

{% block body %}
    <h1>Stock</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stock.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ stock.quantite }}</td>
            </tr>
            <tr>
                <th>Nlot</th>
                <td>{{ stock.nlot }}</td>
            </tr>
            <tr>
                <th>StockReel</th>
                <td>{{ stock.stockReel }}</td>
            </tr>
            <tr>
                <th>RefStock</th>
                <td>{{ stock.refStock }}</td>
            </tr>
            <tr>
                <th>Nserie</th>
                <td>{{ stock.nserie }}</td>
            </tr>
            <tr>
                <th>Cmup</th>
                <td>{{ stock.cmup }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ stock.createdAt ? stock.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ stock.updatedAt ? stock.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('stock_index') }}">back to list</a>

    <a href="{{ path('stock_edit', {'id': stock.id}) }}">edit</a>

    {{ include('stock/_delete_form.html.twig') }}
{% endblock %}
