{% extends 'base.html.twig' %}

{% block title %}Stock
{% endblock %}

{% block body %}
	<div class="container mt-5 ">


		<div class="alert alert-custom alert-white alert-shadow fade show gutter-b " role="alert">
			<div class="alert-text">
				<h5 class="text-dark font-weight-bold my-1 mr-5">
					<i class="fa fa-list"></i>
					Gestion en série de l'article :
					{{art}}</h5>
			</div>

			<div class="float-right"></div>


		</div>


		<div class="card card-custom">

			<div
				class="card-body">
				<!--begin: Datatable-->
				<form action="" method="POST" class=" my-5">
					<div class="form-row ">
						<div class="col-auto ml-3 form-group">
							<select name="nserie" id="nserie" class="form-control form-control-sm">
								<option value="">Choississez le N° Série</option>
								{% for serie in series %}
									<option value="{{serie.nserie}}">{{serie.nserie}}</option>
								{% endfor %}
							</select>
						</div>


						<div class="form-group">
							<button class="btn btn-sm btn-primary ml-3" type="submit">Valider</button>
						</div>
					</div>

				</form>
				<table class="table table-striped  table-checkable mt-5 mb-5" id="kt_datatable" style="margin-top: 13px !important">
					<thead class="thead-primary">
						<tr>
							<th class="">N° Série</th>
							<th class="text-center">Quantité</th>
							<th class="float-right">Action</th>

						</tr>
					</thead>
					<tbody>
						{% for tampon in tampons %}
							<tr>
								<td>{{tampon.nserie}}</td>
								<td class="text-center"> {{tampon.quantite}} </td>
								<td class="float-right">
									<a href="{{ path('tampondeletesortie',{'id':tampon.id}) }}">
										<i class="fa fa-trash text-danger"></i>
									</a>
								</td>
							</tr>
							
					
						{% else %}
							<tr>
								<td colspan="3">Aucun enregistrement</td>
							</tr>
						{% endfor %}


					</tbody>
				</table>

			{% if tampons %}

					<a href="{{path('validatesortieserie',{'id':stock.id})}}" class="btn btn-sm btn-outline-success float-right mt-5">Valider la sortie de stock</a>

					<a href="{{ path('annulersortie',{'id':stock.id}) }}"
						class="btn btn-sm btn-outline-danger float-right mt-5 mr-2">Annuler
						                l'opération</a>

				{% endif %}
				<!--end: Datatable-->
			</div>
		</div>

		{% block javascripts %}{% endblock javascripts %}
	</div>
{% endblock %}
