{% extends 'base.html.twig' %}

{% block title %}Stock
{% endblock %}

{% block body %}
	<div class="container mt-5 ">


		<div class="alert alert-custom alert-white alert-shadow fade show gutter-b " role="alert">
			<div class="alert-text">
				<h5 class="text-dark font-weight-bold my-1 mr-5">
					<i class="fa fa-list"></i>
					Gestion par lot de l'article :
					{{libelle}}</h5>
			</div>


		</div>


		<div class="card card-custom">

			<div
				class="card-body">
				<!--begin: Datatable-->
				<form action="{{ path('sortielot',{'id':stock.id}) }}" method="POST" class=" my-5" autocomplete="off">
					<div class="form-row ">
						<div class="col-md-4 ml-3 form-group">

							<select name="nlot" id="nlot" class="form-control form-control-sm" required>
								<option value="">Choississez le N° Lot</option>
								{% for lot in lots %}
									<option value="{{lot.nlot}}">{{lot.nlot}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-md-2 ml-3 form-group">
							<input type="number" step="0.1" name="quantite" id="quantite" class="form-control form-control-sm" min="1" placeholder="Quantité" required>
						</div>

						<div class="form-group">
							<button class="btn btn-sm btn-primary ml-3" type="submit">Valider</button>
						</div>
					</div>

				</form>
				<table class="table table-striped  table-checkable mt-5 mb-5" id="kt_datatable" style="margin-top: 13px !important">
					<thead class="thead-primary">
						<tr>

							<th class="">N lot</th>
							<th class="text-center">Quantité</th>
							<th class="float-right">Action</th>


						</tr>
					</thead>
					<tbody>

						{% for tampon in tampons %}
							<tr>
								<td class="">
									{{tampon.nlot}}
								</td>
								<td class="text-center">
									{{tampon.quantite}}
								</td>
								<td class="float-right">
									<a href="{{ path('tampondeletesortielot',{'id':tampon.id}) }}">
										<i class="fa fa-trash text-danger"></i>
									</a>
								</td>
							</tr>

						{% else %}
							<tr>
								<td colspan="3">Aucun enregistrement</td>
							</tr>
						{% endfor %}


					</tbody>
				</table>
				{% if tampons %}

					<a href="{{path('validatesortielot',{'id':stock.id})}}" class="btn btn-sm btn-outline-success float-right mt-5">Valider la sortie de stock</a>

					<a href="" class="btn btn-sm btn-outline-danger float-right mt-5 mr-2">Annuler
						                l'opération</a>

				{% endif %}


				<!--end: Datatable-->
			</div>
		</div>

		{% block javascripts %}


			<script>
				$(document).ready(function () {
				$('form').on('submit', function (e) {

				e.preventDefault();
				e.returnValue = false;
				var len = $('#quantite').val();
				console.log(len)
				if (len != 0) {
				this.submit();
				} else {
				alert('Veuillez entrer une quantité supérieure à 0')
				}
				$('form').preventDoubleSubmission()
				});
				});

				$("#nlot").change(function () {

				var nlot = $(this).val();
				// console.log(nlot);
				var path = "{{ path('getLotDispo') }}";

				$.ajax({
				type: 'post',
				url: path,
				data: {
				nlot: nlot
				},
				success: function (response) { // console.log(response.data);
				$('#quantite').val(response.data);
				$('#quantite').attr({"max": response.data});
				}
				});

				});
			</script>
		{% endblock javascripts %}
	</div>
{% endblock %}
