<div class="modal fade" id="exampleModalLong" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajout d'un article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" style="display:none"></div>
                <form action="{{ path('article_new') }}" method="POST" id="addarticle">
                    <div class="form-group">
                        <label class="col-form-label ">Famille</label>
                        <select class="form-control select2" name="famille" style="width: 100%;">
                            {% for famille in familles %}
                            <option value="{{famille.id}}">{{famille.intitule}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="intitule1">Référence</label>
                        <input type="text" id="reference1" name="reference1" class="form-control form-control-sm"
                            onkeydown="if(event.keyCode==32) return false;">
                    </div>
                    <div class="form-group">
                        <label for="designation1">Désignation</label>
                        <input type="text" id="designation1" name="designation1" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="prix1">Prix d'achat</label>
                        <input type="number" id="prix1" name="prix1" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="prixventeht1">Prix de vente HT</label>
                        <input type="number" id="prixventeht1" name="prixventeht1" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="prixventettc1">Prix de vente TTC</label>
                        <input type="number" id="prixventettc1" name="prixventettc1" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                    <label class="col-form-label ">Type de suivi en stock</label>
                    <select class="form-control select2" name="suivi" style="width: 100%;">
                        {% for suivi in suivis %}
                        <option value="{{suivi.id}}">{{suivi.intitule}} </option>
                        {% endfor %}
                    </select>
                 </div>
                    <div class="form-group">
                      <label class="col-form-label ">Etat article</label>
                      <select id="etat" name="etat"
                            class="form-control form-control-sm " style="width: 100%;">
                            <option value="">Sélectionner etat article</option>
                            <option value="Taxable">Taxable</option>
                            <option value="Non Taxable"> Non Taxable</option>
                        </select>
                    </div>
                    <div class="custom-control custom-switch mt-2">
                        <input type="checkbox" class="custom-control-input" value="isnegatif" id="isnegatif"
                            name="isnegatif">
                        <label class="custom-control-label" for="isnegatif">Stock négatif</label>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary btn-sm font-weight-bold"
                    data-dismiss="modal">Annuler</button>
                <button type="submit" form="addarticle" name="valider" class="btn btn-success btn-sm font-weight-bold"
                    id="formSubmit">Enregistrer</button>
            </div>

        </div>
    </div>
</div>