{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

<div class="container mt-5 ">
    <div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
        <div class="alert-text">
            <h5 class="text-dark font-weight-bold my-1 mr-5">
                <i class="fa fa-list"></i>
                Liste des articles.</h5>
        </div>
        <div class="alert-icon">
            <div class="">
                <a href="" data-toggle="modal" data-target="#exampleModalLong" title="Nouvel article"
                    data-tooltip="tooltip" class="btn btn-sm btn-outline-secondary">
                    <span class="svg-icon svg-icon-lg svg-icon-success">
                        <!--begin::Svg Icon | path:/metronic/theme/html/demo10/dist/assets/media/svg/icons/Files/DownloadedFile.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%"
                            height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24" />
                                <path
                                    d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                                    fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                <path
                                    d="M14.8875071,11.8306874 L12.9310336,11.8306874 L12.9310336,9.82301606 C12.9310336,9.54687369 12.707176,9.32301606 12.4310336,9.32301606 L11.4077349,9.32301606 C11.1315925,9.32301606 10.9077349,9.54687369 10.9077349,9.82301606 L10.9077349,11.8306874 L8.9512614,11.8306874 C8.67511903,11.8306874 8.4512614,12.054545 8.4512614,12.3306874 C8.4512614,12.448999 8.49321518,12.5634776 8.56966458,12.6537723 L11.5377874,16.1594334 C11.7162223,16.3701835 12.0317191,16.3963802 12.2424692,16.2179453 C12.2635563,16.2000915 12.2831273,16.1805206 12.3009811,16.1594334 L15.2691039,12.6537723 C15.4475388,12.4430222 15.4213421,12.1275254 15.210592,11.9490905 C15.1202973,11.8726411 15.0058187,11.8306874 14.8875071,11.8306874 Z"
                                    fill="#000000" />
                            </g>
                        </svg>
                    </span>
                    Nouveau
                </a>
            </div>
        </div>
    </div>

    <div class="card card-custom">

        <div class="card-body">
            <!--begin: Datatable-->
            <table class="table table-striped  table-checkable mt-5" id="kt_datatable"
                style="margin-top: 13px !important">
                <thead class="thead-primary">
                    <tr>
                        <th>Famille</th>
                        <th>Reference</th>
                        <th>Designation</th>
                        <th>Prix d'achat</th>
                        <th>Prix de vente HT</th>
                        <th>Prix de vente TTC</th>
                        <th class="text-center">Stock négatif ?</th>
                        <th class="text-right">actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                    <tr>
                        <td>{{ article.Familles.intitule }}</td>
                        <td>{{ article.reference }}</td>
                        <td>{{ article.designation }}</td>
                        <td>{{ article.prix }}</td>
                        <td>{{ article.prixventeht }}</td>
                        <td>{{ article.prixventettc }}</td>
                        <td class="text-center">
                            {{ article.isStocknegatif ? '<span class="badge badge-pill badge-danger">Oui</span>' : '<span class="badge badge-pill badge-success">Non</span>' }}
                        </td>
                        <td class="text-right ">
                            <a href="#" id="edit" data-toggle="modal" data-target="#updateModal"
                                data-id="{{article.id}}" data-reference="{{article.reference}}"
                                data-designation="{{article.designation}}" data-prix="{{article.prix}}"
                                data-prixventeht="{{article.prixventeht}}" data-prixventettc="{{article.prixventettc}}"
                                data-isStocknegatif="{{ article.isStocknegatif}}"
                                data-famille="{{ article.Familles.id }}" data-suivi="{{ article.Typesuivis.id }}"
                                data-etat="{{ article.etat }}" title="Modification de : {{article.designation}}"
                                data-tooltip="tooltip" class="mr-2">
                                <i class=" text-warning fas fa-pencil-alt"></i>
                            </a>
                            <a href="{{ path('article_statut',{'id': article.id}) }}"
                                title="Suppression de : {{article.designation}}" data-tooltip="tooltip">
                                <i class=" text-danger fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="8">Aucun enregistrement</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!--end: Datatable-->
        </div>
    </div>

    {% include "article/add.html.twig" %}
    {% include "article/update.html.twig" %}
    {% include "article/_delete_form.html.twig" %}


    {% block javascripts %}
    {% if exist is defined %}
    <script>
        $('#exampleModalLong').modal('show')
    </script>
    {% endif %}
    <script>
        //For update
        $('body').on('click', '#edit', function () {
            let id = $(this).attr('data-id');
            let reference = $(this).attr('data-reference');
            let designation = $(this).attr('data-designation');
            let prix = $(this).attr('data-prix');
            let prixventeht = $(this).attr('data-prixventeht');
            let prixventettc = $(this).attr('data-prixventettc');
            let isStocknegatif = $(this).attr('data-isStocknegatif');
            let famille = $(this).attr('data-famille');
            let suivi = $(this).attr('data-suivi');
            let etat = $(this).attr('data-etat');

            console.log(prix);
            console.log(prixventeht);
            console.log(prixventettc);

            $('#reference2').val(reference);
            $('#designation2').val(designation);
            $('#prix2').val(prix);
            $('#prixventeht2').val(prixventeht);
            $('#prixventettc2').val(prixventettc);
            $('#etat2').val(etat);
            $('#isStocknegatif2').val(isStocknegatif);
            $('#famille2').val(famille);
            $('#famille2').select2().trigger('change');
            $('#suivi2').val(suivi);
            $('#suivi2').select2().trigger('change');
            document.forms.editForm.action = '/article/' + id + '/edit';
        });
        //for delete
        $(document).on('click', '#delete', function () {
            let id = $(this).attr('data-id');
            document.forms.deleteForm.action = '/article/' + id;
        });

        $(document).ready(function () {
            $('#reference1').change(function (e) {
                $('.alert-danger').hide();
                e.preventDefault();
                var path = "{{ path('article_validation') }}";
                $.ajax({
                    url: path,
                    method: 'post',
                    data: {
                        reference1: $('#reference1').val(),
                    },
                    success: function (result) {
                        //console.log(result);
                        if (result.errors) {
                            $('.alert-danger').html('');
                            $('.alert-danger').show();
                            $('.alert-danger').append('<li>' + result.errors + '</li>');
                        }
                    }
                });
            });
        });

        FormValidation.formValidation(document.getElementById('addarticle'), {
            fields: {
                famille: {
                    validators: {
                        notEmpty: {
                            message: 'Le nom de la famille ne peut être nul'
                        }
                    }
                },
                reference1: {
                    validators: {
                        notEmpty: {
                            message: 'La référence ne peut être nulle'
                        }
                    }
                },
                designation1: {
                    validators: {
                        notEmpty: {
                            message: 'La désignation  ne peut être nulle'
                        }
                    }
                },
                prix1: {
                    validators: {
                        notEmpty: {
                            message: 'Le prix d\'achat ne peut être nul'
                        }
                    }
                },
                prixventeht1: {
                    validators: {
                        notEmpty: {
                            message: 'Le prix de vente ht  ne peut être nul'
                        }
                    }
                },
                prixventettc1: {
                    validators: {
                        notEmpty: {
                            message: 'Le prix de vente ttc ne peut être nul'
                        }
                    }
                },
                suivi: {
                    validators: {
                        notEmpty: {
                            message: 'Le type de suivi en stock ne peut être nul'
                        }
                    }
                },
                etat: {
                    validators: {
                        notEmpty: {
                            message: 'L\'etat de l\'article ne peut être nul'
                        }
                    }
                }
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                // Validate fields when clicking the Submit button
                submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                // Bootstrap Framework Integration
                bootstrap: new FormValidation.plugins.Bootstrap({
                    eleInvalidClass: '',
                    eleValidClass: ''
                })
            }
        });
        FormValidation.formValidation(document.getElementById('editForm'), {
            fields: {
                famille2: {
                    validators: {
                        notEmpty: {
                            message: 'Le nom de la famille ne peut être nul'
                        }
                    }
                },
                reference2: {
                    validators: {
                        notEmpty: {
                            message: 'La référence ne peut être nulle'
                        }
                    }
                },
                designation2: {
                    validators: {
                        notEmpty: {
                            message: 'La désignation  ne peut être nulle'
                        }
                    }
                },
                prix2: {
                    validators: {
                        notEmpty: {
                            message: 'Le prix  ne peut être nul'
                        }
                    }
                },
                prixventeht2: {
                    validators: {
                        notEmpty: {
                            message: 'Le prix de vente ht ne peut être nul'
                        }
                    }
                },
                prixventettc2: {
                    validators: {
                        notEmpty: {
                            message: 'Le prix de vente ttc ne peut être nul'
                        }
                    }
                },
                suivi2: {
                    validators: {
                        notEmpty: {
                            message: 'Le type de suivi en stock ne peut être nul'
                        }
                    }
                },
                etat2: {
                    validators: {
                        notEmpty: {
                            message: 'L\'etat de l\'article ne peut être nul'
                        }
                    }
                }

            },

            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                // Validate fields when clicking the Submit button
                submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                // Bootstrap Framework Integration
                bootstrap: new FormValidation.plugins.Bootstrap({
                    eleInvalidClass: '',
                    eleValidClass: ''
                })
            }
        });
    </script>
    {% endblock javascripts %}
</div>

{% endblock %}