<!-- Modal-->
<div class="modal fade" id="updateModal" data-backdrop="static" role="dialog" aria-labelledby="staticBackdrop"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modification d'un article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="editForm">
                    <div class="form-group">
                        <label for="intitule">Famille</label>
                        <select id="famille2" name="famille2" class="form-control form-control-sm" style="width: 100%;">
                            {% for famille in familles %}
                            <option value="{{famille.id}}">{{famille.intitule}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="intitule">Référence</label>
                        <input type="text" id="reference2" name="reference2" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="intitule">Désignation</label>
                        <input type="text" id="designation2" name="designation2" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="intitule">Prix d'achat</label>
                        <input type="number" id="prix2" name="prix2" class="form-control form-control-sm">
                    </div>
                     <div class="form-group">
                         <label for="prixventeht2">Prix de vente HT</label>
                         <input type="number" id="prixventeht2" name="prixventeht2"
                             class="form-control form-control-sm">
                     </div>
                     <div class="form-group">
                         <label for="prixventettc2">Prix de vente TTC</label>
                         <input type="number" id="prixventettc2" name="prixventettc2"
                             class="form-control form-control-sm">
                     </div>
                    <div class="form-group">
                        <label for="intitule">Type de suivi en stock</label>
                        <select id="suivi2" name="suivi2" class="form-control form-control-sm" style="width: 100%;">
                            {% for suivi in suivis %}
                            <option value="{{suivi.id}}">{{suivi.intitule}} </option>
                            {% endfor %}
                        </select>
                    </div>
                     <div class="form-group">
                         <label class="col-form-label ">Etat article</label>
                         <select id="etat2" name="etat2" class="form-control form-control-sm " style="width: 100%;">
                             <option value="">Sélectionner etat article</option>
                             <option value="Taxable">Taxable</option>
                             <option value="Non Taxable"> Non Taxable</option>
                         </select>
                     </div>
                    <div class="form-group">
                        <label for="intitule" class="mt-5">isStocknegatif</label>
                        <input type="checkbox" checked data-toggle="toggle" id="isStocknegatif2" name="isStocknegatif2"
                            class="mt-5">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary btn-sm font-weight-bold"
                    data-dismiss="modal">Annuler</button>
                <button type="submit" form="editForm" name="valider"
                    class="btn btn-success btn-sm font-weight-bold">Enregistrer</button>
            </div>
        </div>
    </div>
</div>