{% extends 'base.html.twig' %}

{% block title %}Edit Lignestock{% endblock %}

{% block body %}
    <h1>Edit Lignestock</h1>

    {{ include('lignestock/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('lignestock_index') }}">back to list</a>

    {{ include('lignestock/_delete_form.html.twig') }}
{% endblock %}
