{% extends 'base.html.twig' %}

{% block title %}Lignestock index{% endblock %}

{% block body %}
    <h1>Lignestock index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Nlot</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lignestock in lignestocks %}
            <tr>
                <td>{{ lignestock.id }}</td>
                <td>{{ lignestock.quantite }}</td>
                <td>{{ lignestock.nlot }}</td>
                <td>
                    <a href="{{ path('lignestock_show', {'id': lignestock.id}) }}">show</a>
                    <a href="{{ path('lignestock_edit', {'id': lignestock.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lignestock_new') }}">Create new</a>
{% endblock %}
