{% extends 'base.html.twig' %}

{% block title %}New Lignestock{% endblock %}

{% block body %}
    <h1>Create new Lignestock</h1>

    {{ include('lignestock/_form.html.twig') }}

    <a href="{{ path('lignestock_index') }}">back to list</a>
{% endblock %}
