{% extends 'base.html.twig' %}

{% block title %}Lignestock{% endblock %}

{% block body %}
    <h1>Lignestock</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lignestock.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ lignestock.quantite }}</td>
            </tr>
            <tr>
                <th>Nlot</th>
                <td>{{ lignestock.nlot }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lignestock_index') }}">back to list</a>

    <a href="{{ path('lignestock_edit', {'id': lignestock.id}) }}">edit</a>

    {{ include('lignestock/_delete_form.html.twig') }}
{% endblock %}
