<div class="modal fade" id="exampleModalLong" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajout d'un tarif</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" style="display:none"></div>
                <form action="{{ path('tarif_new') }}" method="POST" id="addarticle">
                   
                 
                    <div class="form-group">
                        <label for="designation1">Catégorie tarifaire</label>
                        <select  id="categorie1" name="categorie1" class="form-control form-control-sm select2" style="width: 100%;">
                          {% for categorietarifaire in categorietarifaires %}
                            <option value="{{categorietarifaire.id}}"> {{categorietarifaire.libelle}}</option>
                              
                          {% endfor %}
                        </select>
                       
                    </div>
                    <div class="form-group">
                        <label for="designation1">Article</label>
                        <select  id="article1" name="article1" class="form-control form-control-sm select2" style="width: 100%;">
                          {% for article in articles %}
                            <option value="{{article.id}}"> {{article.designation}}</option>
                              
                          {% endfor %}
                        </select>
                       
                    </div>
                  
                    <div class="form-group">
                        <label for="prix1">Prix</label>
                        <input type="number" id="prix1" name="prix1" class="form-control form-control-sm">
                    </div>

                     <div class="form-group ">
                       {#  <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="nature"  value="PrixHT" >
                            <label class="form-check-label" for="inlineRadio1">Prix HT</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="nature"  value="PrixTTC" >
                            <label class="form-check-label" for="inlineRadio2">Prix TTC</label>
                        </div> #}
                         <label for="designation1">Nature prix</label>
                        <select  id="" name="nature" class="form-control form-control-sm " >
                            <option value="">Sélèctionner</option>
                            <option value="Prixht">Prix HT </option>
                            <option value="Prixttc">Prix TTC </option>
                              
                      
                        </select>

					 </div> 
            
                   
                  
                  
                </form>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary btn-sm font-weight-bold"
                    data-dismiss="modal">Annuler</button>
                <button type="submit" form="addarticle" name="valider" class="btn btn-success btn-sm font-weight-bold"
                    id="formSubmit">Enregistrer</button>
            </div>



        </div>
    </div>
</div>