<!-- Modal-->
<div class="modal fade" id="updateModal" data-backdrop="static" role="dialog" aria-labelledby="staticBackdrop"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modification d'un tarif</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" style="display:none"></div>
                <form action="" method="POST" id="editForm">
                    <div class="form-group">
                        <label for="designation1">Catégorie tarifaire</label>
                        <select id="categorie2" name="categorie2" class="form-control form-control-sm "
                            style="width: 100%;">
                            {% for categorietarifaire in categorietarifaires %}
                            <option value="{{categorietarifaire.id}}"> {{categorietarifaire.libelle}}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="designation1">Article</label>
                        <select id="article2" name="article2" class="form-control form-control-sm "
                            style="width: 100%;">
                            {% for article in articles %}
                            <option value="{{article.id}}"> {{article.designation}}</option>
                            {% endfor %}
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="prix1">Prix</label>
                        <input type="number" id="prix2" name="prix2" value="" class="form-control form-control-sm">
                    </div>

                    <div class="form-group ">
                        <label for="designation1">Nature prix</label>
                        <select id="" name="nature2" class="form-control form-control-sm ">
                            <option value="">Sélèctionner</option>
                            <option value="Prixht" >Prix HT </option>
                            <option value="Prixttc" >Prix TTC </option>
                        </select>

                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary btn-sm font-weight-bold"
                    data-dismiss="modal">Annuler</button>
                <button type="submit" form="editForm" name="valider"
                    class="btn btn-success btn-sm font-weight-bold">Enregistrer</button>
            </div>

        </div>
    </div>
</div>